<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HappyStreet | Incident </title>

<!--    CSS imports-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
    <link rel="stylesheet" href="css/main.css">

<!--    Javascript imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo">
        <hr>
        <section>
            <p>HappyStreet</p>
            <hr>
            <a>Report it To Annihilate it</a>
        </section>
        <div class="search">
            <form action="/search" method="get">
                <label for="searchInput"><input type="text" name="search" id="searchInput" minlength="2" required></label>
                <input type="submit" alt="search" id="searchLogo" value="">
            </form>
        </div>
        <img src="images/user.png" alt="user">
        <a href="/login">{{username}}</a>
    </header>
    <section class="bodyForm">

        <section class="imagePreview" id="imagePreview">
            <img src={{incident.imgSrc}} id="theImagePreviewer" alt="Image Preview" class="filepond">
        </section>
        <nav class="navBar">
            <a id="homeIcon" href="/#homeDisplay"></a>
            <a id="listIcon" href="/#tableOfIncidents"></a>
            <a id="mailIcon" href="#contact"></a>
        </nav>
        <section id="descriptionInput">
            <p id="description">{{incident.description}}</p>
        </section>
        <div class='addressInput' id="map">
            <p id="address">{{incident.address}}</p>
            <p>Reported by</p>
            <p id="user">{{incident.user}}</p>
            <p id="date">{{incident.date}}</p>
        </div>
        {{#admin}}
            <button type="button" class="report" id="deleteButton">Delete Incident</button>
        {{/admin}}
    </section>
    <footer>
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Voila 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
</body>
</html>