<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HappyStreet | Home</title>

<!--    CSS imports-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
    <link rel="stylesheet" href="css/main.css">

<!--    Javascript imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
    <header id="headerOnHomePage">
        <img src="images/logo.png" alt="logo">
        <hr>
        <section>
            <p>HappyStreet</p>
            <hr>
            <a>Report it To Annihilate it</a>
        </section>
        <div class="search">
            <form action="/search" method="get">
                <label for="searchInput"><input type="search" name="search" id="searchInput" minlength="2" required value={{search}}></label>
                <input type="submit" alt="search" id="searchLogo" value="">
            </form>
        </div>
        <img src="images/user.png" alt="user">
        <a href="/login" id="sessionUsername">{{username}}</a>
    </header>
    <nav class="navBar" id="navBarOnHomePage">
        <a id="homeIcon" href="/#homeDisplay"></a>
        <a id="listIcon" href="/#tableOfIncidents"></a>
        <a id="mailIcon" href="/#contact"></a>
    </nav>
    <section class="homeDisplay" id="homeDisplay">
        <section>
            <img src="images/logo.png" alt="LOGO">
            <h1> HappyStreet</h1>
        </section>
        <h2>By reporting incidents we make streets safer</h2>
        <p>
            In alteration insipidity impression by travelling reasonable up motionless. Of regard warmth by unable
        sudden garden ladies. No kept hung am size spot no. Likewise led and dissuade rejoiced welcomed husbands boy. Do listening on he suspected resembled. Water would still if to. Position boy required law moderate was may.
        </p>
        <button type="button" class="report" id="toReportPage">Report</button>
    </section>
    <section class="incidents">
        <h2>All Incidents reported</h2>
        <table id="tableOfIncidents">
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Address</th>
                <th>Reported by</th>
            </tr>
            {{#incidents}}
            <tr class="tableRow">
                <td class="image"><img src={{imgSrc}} alt="The Incident Image wasn't provided"></td >
                <td class="description">{{description}}</td>
                <td class="address">{{address}}</td>
                <td class="userAndDate">
                    <li>{{user}}</li>
                    <li>{{date}}</li>
                </td>
            </tr>
            {{/incidents}}
        </table>
    </section>
    <button type="button" class="report" id="toReportPage2">Report</button>
    <br><br><br><br><br>
    <footer>
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Tirou 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
</body>

