<!DOCTYPE html>
<html lang="en-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HappyStreet | Authentication</title>

<!--    CSS imports-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
    <link rel="stylesheet" href="css/main.css">

<!--    Javascript imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<img src="images/logo.png" alt="logo" onclick="window.open('/', '_parent')">
		<hr id="lineNextToName">
		<section id="nameAndMotoSection">
			<p id="name">HappyStreet</p>
			<hr id="lineBetweenNameAndMoto">
			<p id="moto">Report it To Annihilate it</p>
		</section>
		<containerSearch class="search">
			<form>
				<input type="text" name="search">
			</form>
			<img src="images/loop_magnifier.png" alt="search">
		</containerSearch>
		<div id="spanOnLoginPageHeader"></div>
	</header>
	<section class="bodyForm" >
		<!--SECTION for LOG IN-->
		<form class="loginForm" id="loginForm" action="/login" method="post" >
			<h2> ALREADY USER</h2>
			<p class="msg" id="loginMsg">{{msgLogin}}</p>
			<label>Username :</label>
			<input type="text" name="username">
			<hr>
			<label>Password :</label>
			<input type="Password" name="password">
			<hr>
			<button class="johnyButton" type="submit">LOGIN</button>
		</form>
		<!-- navigation bottom -->
		<section class = "navbar">
			<nav class = "navButton">
				<a id="homeIcon" href="/"></a>
				<a id="listIcon" href="/#tableOfIncidents"></a>
				<a id="mailIcon" href="#contact"></a>
			</nav>
		</section>
		<!-- SECTION FOR SIGNING UP-->
		<form class="signUpForm" id="signUpForm" action="/sign" method="post">
			<h2>NOT YET A USER</h2>
			<p class="msg" id="signMsg">{{msgSignUp}}</p>
			<label>Username :</label>
			<input type="text" name="signUsername">
			<hr>
			<label>Password :</label>
			<input type="Password" name = "signPassword" >
			<hr>
			<label>Name :</label>
			<input type="text" name = "signName" >
			<hr>
			<label>Email :</label>
			<input type="Email" name="email">
			<br>
			<button class="johnyButton">REGISTER</button>
		</form>
	</section>

	<footer class="page3">
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Tirou 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
	<script src="../static/js/main.js"></script>
</body>
</html>