<!DOCTYPE html>
<html lang="en-BE" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HappyStreet | Authentication</title>

<!--    CSS imports-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
	<header>
        <img src="images/logo.png" alt="logo">
        <hr>
        <section>
            <p>HappyStreet</p>
            <hr>
            <a>Report it To Annihilate it</a>
        </section>
        <div class="search">
            <form action="/search" method="get">
                <label for="searchInput"><input type="text" name="search" id="searchInput" minlength="2" required></label>
                <input type="submit" alt="search" id="searchLogo" value="">
            </form>
        </div>
		<span id="spanOnLoginPageHeader"></span>
	</header>
	<section class="bodyForm" >
		<form class="loginForm" action="/login" method="post" >
			<h2> ALREADY USER</h2>
			<p class="msg" id="loginMsg">{{msgLogin}}</p>
			<label for="username">Username :<input type='text' name="username" id="username" required value={{username}}>
			</label>
			<label for="password">Password :<input type="password" name="password" id="password" required>
			</label>
			<button class="johnyButton" type="submit">LOGIN</button>
		</form>
		<nav class = "navBar">
			<a id="homeIcon" href="/"></a>
			<a id="listIcon" href="/#tableOfIncidents"></a>
			<a id="mailIcon" href="#contact"></a>
		</nav>
		<form class="signUpForm loginForm" id="signUpForm" action="/sign" method="post">
			<h2>NOT YET A USER</h2>
			<p class="msg" id="signMsg">{{msgSignUp}}</p>
			<label for="signUsername">Username :<input type="text" name="signUsername" id="signUsername" required>
			</label>
			<label for="signPassword">Password :<input type="password" name = "signPassword" id="signPassword" required>
			</label>
			<label for="signName">Name :<input type="text" name="signName" id="signName" required>
			</label>
			<label for="email">Email :
			<input type="Email" name="email" id="email" required>
			</label>
			<button class="johnyButton">REGISTER</button>
		</form>
	</section>
	<footer>
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Tirou 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
</body>
	<!--	JavaScript Imports-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
</html>