<!DOCTYPE html>
<html lang="en">
<head>
    <title>HappyStreet | Report</title>
    <meta charset="UTF-8">

<!--    CSS Imports-->
    <link rel='stylesheet'  href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css'/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">

<!--    JavaScript imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo">
        <hr>
        <section>
            <p>HappyStreet</p>
            <hr>
            <a>Report it To Annihilate it</a>
        </section>
        <div class="search">
            <form action="/search" method="get">
                <label for="searchInput"><input type="text" name="search" id="searchInput" minlength="2" required></label>
                <input type="submit" alt="search" id="searchLogo" value="">
            </form>
        </div>
        <img src="images/user.png" alt="user">
        <a href="/login">{{username}}</a>
    </header>
    <form class="bodyForm" id="reportForm" method="POST" action="/report">
        <section class="imagePreview" id="imagePreview">
            <input type="file" name="image" class="filepond">
        </section>
        <nav class="navBar">
            <a id="homeIcon" href="/#homeDisplay"></a>
            <a id="listIcon" href="/#tableOfIncidents"></a>
            <a id="mailIcon" href="#contact"></a>
        </nav>
        <label for="descriptionInput"></label><textarea id="descriptionInput" placeholder="Description..." name="description"></textarea>
        <section class='addressInput' id="addressInput">
            <label for="streetNameAndNumber">Street, Number<input type="text" id="streetNameAndNumber" name="streetAddress">
            </label>
            <label for="postalCode">Postal Code<input type="number" id="postalCode" name="postalCode" accept="application/vnd.apple.numbers">
            </label>
            <label for="regionInput">Region<input type="text" id="regionInput" name="region">
            </label>
        </section>
        <button class="report" type="submit">Post Incident</button>
    </form>
    <footer>
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Voila 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
</body>
</html>