:root{
    /* Colors variables*/
    --green : #2EC4B6;
    --red : #E71D36;
    --orange: #FF9F1C;
    --grey : #C4C4C44D;
    --shadow : 0px 0px 6px #00000029;
}

html{
    scroll-behavior: smooth;
}

body{
    padding:0;
    margin: 0;
    width: 100%;
    min-width: fit-content;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    background-image: url("./../images/body-bg.png");
    background-size: cover;
}

pre{
    font-family: "Helvetica", sans-serif;
}
pre h2{
    font-weight: initial;
}
ul{
    list-style-type: none;
}
h2{
    padding: 0;
    margin: 0;
}
input[type=submit]{
    width: 70%;
    height: 30px;
    bottom: 0;
    color: white;
    position: absolute;
}
header{
    width: 100%;
    min-width: fit-content;
    height: 60px;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 40px 230px auto max-content;
    align-items: center;
}

header div{
    margin: auto;
}

header form{
    margin: 0 auto;
    align-items: baseline;
}

header form input[type=search]{
    height: 30px;
    width: 420px;
    margin: auto;
    border-color: black;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom-width: 3px;
}

header form input[type=submit]{
    width: 20px;
    height: 20px;
    border-width: 0;
    background-image: url("./../images/loop_magnifier.png");
    background-size: 20px;
    position: initial;
}
header form input[type=submit]:focus{
    border-width: 0;
}
header form input[type=submit]:active{
    border-width: 0;
}

.name-logo{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-logo h2{
    margin: 0;
    color: var(--orange);
}

.name-logo h3{
}

.name-logo h4{
    margin-left: 5px;
    margin-right: 5px;
}

.plate{
    width: 50px;
    height: 30px;
    margin: auto;
    background-color: black;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}
.plate img{
    content: url("./../images/plate.png");
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 0;
}

.plate p{
    margin-left: 0;
    margin-right: auto;
}

.emojis-section{
    width: 50%;
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.emojis-section a{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
.emojis-section a img{
    height: 25px;
}
.emojis-section a p{
    margin: 0;
    font-size: 10px;
}

.popular-section{
    height: 200px;
    background-color: var(--green);
    text-align: center;
    position: relative;
}
.popular-section h1{
    color: white;
    margin: 0;
    left: 50%;
    z-index : 2;
    top: 0;
}
.popular-section section{
    z-index: 2;
    position: absolute;
    height: 100%; width: 100%;
    top: 0;
}
.popular-section a{
    position: absolute;
    margin: 0;
    width: 105px;
    height: 105px;
    display: flex;
    border-radius: 100%;
    align-items: center;
}
.popular-section a img{

    height: 80px;
    margin: auto;
}

.list-of-restaurants{
    width: 96%;
    margin: auto;
    grid-gap: 10px;
}
.list-of-restaurants li{
    margin: auto;
}
.list-of-restaurants li a{
    width: 360px;
    height: 200px;
    margin: auto;
    justify-items: center;
    text-decoration: none;
}
.list-of-restaurants li a div{
    width: 400px;
    height: 180px;
    overflow: hidden;
}
.list-of-restaurants li a div img{
    width: 100%;
}
.list-of-restaurants li a section{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.list-of-restaurants li a section h1{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.list-of-restaurants li a section p{
    color: var(--green);
    width: fit-content;
    height: fit-content;
}

.filter-bar-open{
    visibility: hidden;
}

.navbar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar h4{
    text-align: right;
    margin-right: 20px;
}
.navbar .login{
    width: 100%;
    height: 30px;
    margin: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.navbar .login h2{
    font-weight: lighter;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.navbar ul li{
    width: 70%;
    height: 40px;
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.navbar ul li a{
    float: left;
    text-decoration: none;
    color: black;
    padding-left: 0;
    margin-left: 0;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.popup-plate{
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    overflow: auto;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    color: black;
}
.popup-plate ul li h2{
    text-align: left;
}
.popup-plate ul li hr{
    border-color: black;
    width: 90%;
    margin-left: 0;
}
.popup-plate ul li ul{
    width: 90%;
    padding: 0;
    margin-left: 0;
    margin-right: auto;
}
.popup-plate ul li ul li{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.popup-plate ul li ul li input[type=number]{
    width: 30px;
    height: 18px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.popup-plate div{
    width: 70%;
    margin: auto;
    color: white;
    display: grid;
    justify-items: center;
}
.popup-plate section{
    width: 95%;

}

.popup-plate .bottom-of-container{
    bottom: 10%;
    position: absolute;
    margin: 0 15%;
}
.popup-plate .bottom-of-container a{
    text-decoration: none;
    align-self: center;
}

.filter-button{
    position: fixed;
    float: left;
    left: 1%;
    top: 40%;
    z-index: 3;
    width: fit-content;
    height: fit-content;
    color: white;
    box-shadow: var(--shadow);
    padding: 0;
}
.filter-button p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 20px 5px;
    pointer-events: none;
}

.filter-bar{
    width: 0;
    height: 530px;
    z-index: 4;
    position: fixed;
    float: left;
    left: 0;
    top: 10%;
    background-image: url("./../images/filter-bg.png");
    background-size: cover;
    display: none;
    transition: 1s;
}
.filter-bar div{
    margin: 20% 1%;
    height: 73%;
    width: 70%;
}
.filter-bar div form{
    width: 100%;
    height: 100%;
    margin: 5% 0;
    position: relative;
}
.filter-bar input[type=range]{
    -webkit-appearance: none;
    margin-left:10px ;
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background: #000000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.filter-bar input[type=range]:hover{
    opacity: 1;
}
.filter-bar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
.filter-bar input[type=radio]{
    margin-left: 30px;
    margin-bottom: 10px;
}
.filter-bar .right{
    right: 20%;
}
.filter-bar section{
    align-content: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.restaurant-info{
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 300px 300px auto;
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.restaurant-info h1{
    font-weight: bold;
    font-size: 50px;
    font-family: "League Spartan", sans-serif;
}

.restaurant-info .image-container {
    width: min(500px,80%);
    height: 135px;
    overflow: hidden;
    margin: auto;
}
.restaurant-info img {
    width: 100%;
}

.categories-tab{
    width: 40% ;
    min-width: fit-content;
    display: flex;
    height: 40px;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.categories-tab a{
    color: black;
}

.list-of-items{
    margin: auto;
    padding: 0;
    min-width: 1290px;
}
.list-of-items li{
    height: fit-content;
    min-width: max-content;
    box-shadow: var(--shadow);
}
.list-of-items li div{
    max-width: 430px;
    max-height: 130px;
    min-height:  130px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto 130px;
    grid-template-rows: 100%;
}
.list-of-items li div section{
    text-align: left;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}
.list-of-items li div section h1,p{
    margin-left: 4px;
}
.list-of-items li div div{
    display: block;
    overflow: hidden;
    position: relative;
}
.list-of-items li div div img{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.popup-item-specifications{
    width: 500px;
    height: 90%;
    position: fixed;
    z-index: 2;
    top: 2%;
    overflow: auto;
    transition: 0.5s;
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
}
.popup-item-specifications form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.popup-item-specifications form input{
    margin-left: 30px;
}

.popup-item-specifications .image-container{
    width: 96%;
    height: max(140px,28%);
    overflow: hidden;
}
.popup-item-specifications .image-container img{
    width: 100%;
}
.popup-item-specifications .buttons{
    width: 100%;
    bottom: 20px;
    position: absolute;
    display: flex;
    align-content: space-evenly;
    align-items: center;
}
.popup-item-specifications .buttons button{
    width: 40%;
    margin: auto;
    height: 40px;
    border-width: 0;
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: grid;
    grid-template-columns: auto 300px 300px;
    color: white;
    bottom: 0;
}

footer div{
    width: fit-content;
    margin-right: auto;
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
footer a:hover{
    text-decoration: underline;
}

footer div div {
    margin-top: 0;
    margin-left: 20px;
    margin-right: auto;
}

footer p,a{
    margin: 2px 0;
    padding: 0;
}

.input-page{
    margin: 0;
    width: 100%;
    height: 100vh;
    min-width: fit-content;
    font-family: "HelveticaNeue", sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 500px auto;
}
.input-page div{
    vertical-align: center;
}
.input-page .name-logo{
    display: flex;
    grid-gap: 10px;
    margin-left: 60px;
}
.input-page .popup-plate{
    width: 420px;
    overflow: auto;
    z-index: 0;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.input-page form{
    width: 380px;
    height: 420px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
    margin-left: 60px;
    z-index: 2;
}
.input-page form input{
    width: 80%;
    min-height: 25px;
    height: 6%;
    min-width: 160px;
    border-width: 0;
    margin: 10px auto;
}
.input-page form input:active{
    border-width: 0;
}
.input-page form input:hover{
    border-width: 0;
}
.input-page form input[type=submit]{
    bottom: 20px;
}
.input-page form div{
    height: 80%;
    justify-content: center;
    overflow: auto;
}
.input-page .announcement{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    margin: auto 50px;
}
.input-page .announcement h1{
    margin: auto;
    font-size: 60px;
    text-align: left;
}
.input-page a{
    color: black;
    font-weight: lighter;
}

.seller-page{
    align-items: center;
}
.seller-page section{
    margin: auto;
}
.seller-page .align-right{
    align-items: flex-end;
}
.seller-page a{
    color: black;
    text-decoration: none;
}
.seller-page footer a{
    color: #FFFFFF;
}
.seller-page a:hover{
    text-decoration: underline;
    color: var(--orange);
}
.seller-page header .nav-tab{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}
.seller-page .nav-tab a{
    font-size: 26px;
}
.seller-page .top-section{
    width: 90%;
    padding-right: min(10%,20px);
    padding-left: min(10%,20px);
    display: grid;
    grid-template-columns: 400px auto;
    margin: 10px auto;
}
.seller-page .top-section .restaurant-details{
    width: 100%;
    height: 100%;
}
.seller-page .top-section .restaurant-details .details{
    max-width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
}
.seller-page .top-section .restaurant-details h2{
    font-size: 32px;
    font-weight: bolder;
}
.seller-page .top-section .restaurant-details p{
    font-size: 12px;
    margin: 2px 2px auto 0;
}

.seller-page .top-section button{
    width: 140px;
    min-width: fit-content;
    height: 30px;
}

.seller-page .buttons button{
    width: 160px;
}

.table-of-orders{
    width: 90%;
    align-items: center;
    justify-content: center;
    border-right:hidden;
    border-collapse:separate;
    border-spacing: 0 30px;
    align-content: center;
    margin: auto;
}
.table-of-orders .header-row{
    height: auto;
}
.table-of-orders th{
    background-color: #FFFFFF;
}
.table-of-orders tr{
    display: grid;
    grid-template-columns: 150px 200px 400px 50px auto;
    margin: 20px auto;
    height: 200px;
}
.table-of-orders tr td{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.table-of-orders tr td button{
    width: 40%;
    height: 30px;
}

.order-view ul li {
    margin: 5px auto;
}

.order-view ul li ul li{
    display: block;
    text-align: left;
}

.order-view-text-align-left{
    list-style-type: none ;
    margin-left: 0;
    padding: 0;

}
.order-view .bottom-of-container{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    grid-template-columns:auto;
}
.order-view .bottom-of-container div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.order-view .bottom-of-container button{
    width: 49%;
    height: 100%;
    border-width: 0;
}

.seller-page button{
    width: 100px;
    height: 40px;
}
.table-of-payments tr{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #FFFFFF;
}
.table-of-payments tr{
    grid-template-columns: auto 150px 200px auto 200px;
}
.table-of-payments .paid{
    background-color: var(--green);
}
.table-of-payments .pending{
    background-color: black;
    color: #FFFFFF;
}
.table-of-payments .cancelled{
    background-color: var(--red);
    color: #FFFFFF;
}

.new-item{
    position: fixed;
    top: 50%;
    right: 2%;
}

.table-of-items tr{
    grid-template-columns: 200px 200px 100px 100px auto 100px;
    grid-template-rows: 100%;
    background-color: var(--green);
}
.table-of-items .image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}
.table-of-items .image-container img{
    height: 100%;
    align-self: center;
}

.table-of-items .out-of-stock{
    background-color: var(--red);
}

.add-item{
    width: 90%;
    margin: 20px auto;
}

.add-item section{
    display: inline-flex;
    align-items: start;
    width: 96%;
    margin: 10px auto;
    height: fit-content;
    padding: 2%;
}
.add-item .image-container{
    height: 400px;
    width: 400px;
    align-items: center;
    padding: 0;
    overflow: hidden;
    display: block;
    justify-content: center;
}
.add-item .image-container input[type=file]{
    display: none;
}
.add-item .image-text-item{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 400px auto;
}

.add-item input[type=text],input[type=number],input[type=search], .input{
    height: 30px;
}
.add-item input{
    padding-right: 1%;
    padding-left: 1%;
}
.add-item textarea{
    height: 200px;
    max-height: 300px;
    max-width: 400px;
}
.add-item section ul{
    padding-left: 0;
    margin-left: 0;
}
.add-item section ul li .item{
    width: 360px;
    height: 20px;
    text-align: left;
    padding: 6px;
    position: relative;
    align-content: center;
}
.add-item section ul li .item p{
    height: fit-content;
    margin: 0;
}
.add-item section ul li .item button{
    width: 30px;
    height: fit-content;
    right: 15px;
    position: absolute;
}
.add-item datalist{
    margin: 0;
    display: none;
    animation: 1s ease-in-out;
    background-color: #FFFFFF;
}

.add-item .hover-img {
    width: 100%;
    pointer-events: auto;
}
.add-item label{
    min-width: fit-content;
    align-self: center;
}

.add-item .error{
    color: #E71D36;
}

.table-of-groups{
    grid-template-columns: auto auto auto;
}
.table-of-groups tr{
    grid-template-columns: auto auto auto;
}

.table-of-groups tr td {
    overflow: auto;
}
.table-of-groups .header-row{
    grid-template-columns: auto auto auto;
}

.table-of-categories{
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.table-of-categories tr{
    grid-template-columns: auto auto;
}

.filepond{
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin: auto;
    text-transform: uppercase;
}

.filepond label{
    font-size: 16px;
}
.filepond--credits{
    display: none;
}
.table-of-customer-orders tr{
    grid-template-columns: 100px 200px 300px 50px 100px auto;
}
.table-of-customer-orders tr td button{
    width: 100%;
}
.input-page .announcement .filepond{
    width: 380px;
    height: 380px;
    justify-self: center;
}


/* Special attributes classes these classes possess only special attributes and
are used as secondary classes in html. */

.round-border{
    border-radius: max(20px, 4%);
}

.full-width-section{
    width: 100%;
}
.full-height-section{
    height: 100%;
}
.bg-color-red{
    background-color: var(--red);
}
.bg-color-green{
    background-color: var(--green);
}
.bg-color-orange{
    background-color: var(--orange);
}
.bg-color-white{
    background-color: white;
}
.bg-color-black{
    background-color: black;
}
.three-gridded-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    min-width: min-content;
}

.border-less{
    border-width: 0;
}
.border-less:hover{
    border-width: 0;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.left {
    position: absolute;
    left: 0;
}
.right{
    position: absolute;
    right: 0;
}
.color-orange{
    color: var(--orange);
}
.color-black{
    color: black;
}
.color-white{
    color: white;
}
.column-display{
    display: flex;
    flex-direction: column;
}
.row-display{
    display: flex;
    flex-direction: row;
}
.margin-top-bottom{
    margin-top: max(2%, 5px);
    margin-bottom: max(2%, 5px);
}
.margin-left-right{
    margin-left: max(2%, 5px);
    margin-right: max(2%, 5px);
}
.shadow{
    box-shadow: var(--shadow);
}
.margin{
    margin: auto;
}
.block{
    display: block;
}
.align-center{
    align-content: center;
    display: inline-flex;
    alignment: center;
}
