body{
    margin: 0;
    background-image: url("./../images/background2.jpg.png");
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

ul,li{
    list-style-type: none;
}

a,p,li,td,label{
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

h1{
    font: normal normal bold 24px/30px League Spartan;
    padding-bottom: 30px;
}


h2{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}

header{
    width: 100%;
    height: 80px;
    background: transparent linear-gradient(90deg, #007B89 0%, #FF8270  100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px #00000029;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
}

header img{
    height: 90%;
    margin: auto 2px;
}
header a {
    color: #000000;
    margin: auto 10px;
}

header a:hover{
    text-decoration: underline;
}
header hr {
    border: 2px solid #171D1C;
    height: 70%;
    width: 0;
    margin: 0 0 0 5px;
    padding: 0;
}

header section{
    margin-left: 15px;
    height: 100%;
    min-width: fit-content;
    display: table;
    margin-right: 15px;
}

header section hr{
    width: 100%;
    height: 1%;
    border-color: #171D1C;
    margin: 0;
    background-color: #171D1C;
    border-width: 0;
}

header section p{
    text-align: left;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: #171D1C;
    margin: 0;
    padding-top: 4%; /*See if it can be done better*/
}

header section a{
    text-align: left;
    font-family: "GeosansLight", sans-serif;
    letter-spacing: 2px;
    color: #171D1C;
    margin: 0 auto;
    font-weight: lighter;
    text-decoration: none;
}

header section a:hover{
    text-decoration: none;
}

header span{
    width: 166px;
}

#lineBetweenNameAndMoto{
    width: 100%;
    height: 1px;
    border-color: #171D1C;
    margin: 0;
    background-color: #171D1C;
}

.search{
    width: 25%;
    min-width: 120px;
    display: flex;
    height: 60px;
    background: #FFFFFF;
    border-radius: 22px;
    margin: auto 0 auto auto;
    padding: 0;
    align-items: center;
    float: right;

    transition: width 0.4s ease-in-out;
}

.search:hover{
    width: 50%;
}

.search:focus{
    width: 50%;
}
.search form{
    background-color: transparent;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    flex-direction: row;
    align-content: center;
}

.search form input[type="search"]{
    background-color: transparent;
    border-width: 0;
    height: 100%;
    width: 100%;
    outline-width: 0;
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
}

.search form label{
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
}

.search form input[type="text"]:focus{
    border-width: 0;
    outline-width: 0;
}
.search form input[type="text"],textarea{
    height: 100%;
    width:100%;
}
.search form input[type="text"],textarea:focus{
    background-color: transparent;
    border-width: 0;
    height: 100%;
    width: 75%;
    outline-width: 0;
    font-size: 24px;
    font-weight: lighter;
}
.search form input[type="submit"]{
    background-size: 40px;
    background-image: url("../images/loop_magnifier.png");
    width: 40px;
    height: 42px;
    border-width: 0;
    background-color: white;
    margin-top: 10px;
    padding: 0;
    align-self: center;
    float: right;
}
li {
    text-decoration: none;
}

.bodyForm{
    width: 96%;
    height: 90vh;
    flex-direction: row;
    padding-top:2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: 80% 10%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
}

.bodyForm section{
    overflow: hidden;
}

.imagePreview{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    align-items: center;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.filepond{
    width: 100%;
    max-height: 90%;
    font-size: 24px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
}

.filepond label{
    font-family: "Montserrat", serif;
    font-size: 16px;
}

.imagePreview input {
    display: block;
}

.imagePreview label{
    display: block;
}

#descriptionInput{
    max-width : 100%;
    max-height: 30%;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    float: right;
    grid-column: 3;
    grid-row: 1;
}

#descriptionInput:focus{
    width: 100%;
}
.addressInput{
    width: 100%;
    height: 40%;
    grid-column: 3;
    grid-row: 1;
    background: #FFFFFF;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 2%;
    align-content: center;
}

.addressInput label{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-content: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 16px;
}

.addressInput input[type="text"], input[type="number"]{
    margin-right: 0;
    margin-left: auto;
    float: right;
    left: 0;
    width: 48%;
}

.addressInput input[type="text"] textarea{
    float: right;
    background-color: #FF8270;
}

input[type="text"], textarea{
    width: 100%;
}

/*The navigation bar*/

.navBar{
    width: 47px;
    height: 209px;
    background: #FF8270 0 0 no-repeat padding-box;
    border-radius: 24px;
    border:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
}

.navBar a {
    margin: auto;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-width: 0;
}

.navBar a:active {
    outline-width: 0;
    border-width: 0;
}

#navBarOnHomePage{
    position: fixed;
    float: right;
    right: 1%;
    top: 40%;
    z-index: 2;
}

#homeIcon{
    background-image: url("./../images/home@3x.png");
}

#homeIcon:hover{
    background-image: url("./../images/home-white.png");
}

#listIcon{
    background-image: url("../images/menu@3x.png");
}

#listIcon:hover{
    background-image: url("../images/menu-white@3x.png");
}

#mailIcon{
    background-image: url("../images/mail@3x.png");
}

#mailIcon:hover{
    background-image: url("../images/mail-white@3x.png");
}

#mailIcon:focus{
    background-image: url("../images/mail-white@3x.png");
}

#mailIcon:active{
    outline-width: 0;
    box-shadow: transparent;
}

.homeDisplay{
    width: 100%;
    height:100vh;
    background: url("../images/header_shape.svg") no-repeat;
    background-size: 100%;
}

.homeDisplay section{
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 2vw;
    overflow: auto;
}

.homeDisplay section img{
    height: 15vw;
}

.homeDisplay section h1{
    font-size: 5vw;
}

.homeDisplay h1 p{
    float: right;
    padding-right: 35%;
    padding-top:3%;
    font-size: 40px;
}

.homeDisplay p{
    padding-bottom: 30px;
    margin-left: 4%;
    margin-right: 4%;
}

.report{
    width: 200px;
    height: 50px;
    background: #007B89 0 0 no-repeat padding-box;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: lighter;
    outline-width: 0;
    border: #007B89;
}

.report:active {
    outline:0;
    border-width: 0;
}

.report:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.incidents{
    padding: 5px;
    margin-top: 10%;
    margin-bottom: 35%;
    align-content: center;
}

.incidents table{
    width: 90%;
    border-right:hidden;
    border-collapse:separate;
    border-spacing: 0 30px;
    align-content: center;
    margin: 0 auto;
}

.incidents table tr th{
    background-color: transparent;
    box-shadow: none;
}

.incidents table tr{
    background: white;
    box-shadow: 0 0 10px #00000029;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.incidents table tr td{
    height: 300px;
}

.incidents table tr td img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

#contact{
    text-align: left;
}

#info{
    text-align: right;
}


label{
    font-family: "GeosansLight", serif;
    color: #545454 ;
    float: left;
    width: 38%;
    margin-top: 12px;
    margin-bottom: 12px;
}

hr{
    border:0;
}

/* For logging in */

.loginForm {
    width: 70%;
    padding: 0 25px;
    background-color: #FF8270;
    text-align: left;
    height: 400px;
    align-content: center;
    float: left;
    grid-column:1;
    box-shadow: 0 0 50px #00000029;
    margin: auto auto auto;
}

.loginForm label{
    margin-top: 4%;
    width: 100%;
    padding: 0;
    flex-direction: row;
}

.loginForm input[type="text"], [type="password"], input[type="email"]{
    float: right;
    width: 60%;
    border-width: 0;
    border-bottom-width: 1px;
    outline-width: 0;
    background-color: transparent;
    margin: 0 auto 0;
}

.loginForm button{
    margin-top: 34%;
    margin-left: 25%;
    padding: 2.5% 15%;
    border:0;
}

/* For Signing up */

.signUpForm{
    float: right;
    width: 70%;
    grid-column:3;
    min-height: 32vh;
    padding: 0 30px;
    background-color: #FF8270;
    box-shadow: 0 0 50px #00000029;
    text-align: left;
    height: 400px;
    margin: auto auto auto;
}

/* For all button in general */

.johnyButton{
    margin: 3px;
    font-family: "GeosansLight", sans-serif;
    color: lightgrey;
    background-color: #007B89;
}
.johnyButton:hover{
    background-color:white;
    color: #007B89;
}

footer{
    width: 92%;
    background-color: #007B89;
    box-shadow: 0 0 10px #00000029;
    display: grid;
    padding:4%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#headerOnHomePage{
    position: fixed;
    float: top;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.textMessages{
    font-size: 12px;
    transition: all .3s ease-in-out;
}

#descriptionInput{
    overflow: auto;
}

#logout{
    background-image: url("../images/logout.svg");
    background-size: 40px;
    width: 40px;
    height: 42px;
}