<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Sign Up</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="input-page">
    <div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>

        <form class="round-border" action="/user_sign_up" method="POST">
            {{userRegisterError}}
            <label for="name"></label>
            <input type="text" placeholder="Name" name="name" id="name" required>
            <label for="email"></label>
            <input type="email" placeholder="Email" name="email" id="email" required>
            <label for="password"></label>
            <input type="password" placeholder="Password" name="password" id="password" required>
            <label for="confirmPassword"></label>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
            <input type="submit" class="bg-color-black" value="Sign Up">
        </form>
    </div>
    <div class="announcement">
        <h1>
        Thank you for trusting us. Your security is one of our priorities.
        </h1>
    </div>
</body>
</html>