<!DOCTYPE html>
<html lang="en-BE">
<head>
	<title>Log in/ Sign up</title>
	<link rel="stylesheet" type="text/css" href="./../static/css/login.css">
	<link rel="stylesheet" type="text/css" href="./../static/css/report.css">
</head>
<body>
<header>
	<img src="./../static/images/logo.png" alt="logo">
	<hr id="lineNextToName">
	<section id="nameAndMotoSection">
	    <p id="name">HappyStreet</p>
	    <hr id="lineBetweenNameAndMoto">
	    <p id="moto">Report it To Annihilate it</p>
	</section>
	<containerSearch class="search">
	    <form>
	        <input type="text" name="search">
	    </form>
	    <img src="./../static/images/loop_magnifier.png" alt="search">
	</containerSearch>
	<img src="./../static/images/user.png" alt="user">
	<p id="userName">User</p>
</header>
<form>
<section class="login">
	<!--SECTION for LOG IN-->
	<h1> ALREADY USER</h1>
	<label>Username :</label>
	<input type="text">
	<hr>
	<label>Password :</label>
	<input type="Password">
	<hr>
	<button class="button"> LOG IN</button>

</section>
<!-- SECTION FOR SIGNING UP-->
<section class="signup">
	<p >
		<h1>NOT YET A USER</h1>

		<label>Username :</label>
		<input type="text" >

		<hr>

		<label>Password :</label>
		<input type="Password" >

		<hr>

		<label>Name :</label>
		<input type="text"  >

		<hr>

		<label>Email :</label>
		<input type="Email" >
		<br>
	</p>
	<p> 
		<button class="button"> REGISTER</button>
	</p>
</section>
</form>
</body>
</html>