<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HappyStreet | Home</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<!--    <header>-->
<!--        <img src="./../static/images/logo.png" alt="logo">-->
<!--        <hr id="lineNextToName">-->
<!--        <section id="nameAndMotoSection">-->
<!--            <p id="name">HappyStreet</p>-->
<!--            <hr id="lineBetweenNameAndMoto">-->
<!--            <p id="moto">Report it To Annihilate it</p>-->
<!--        </section>-->
<!--        <containerSearch class="search">-->
<!--            <form>-->
<!--                <label>-->
<!--                    <input type="text" name="search">-->
<!--                </label>-->
<!--            </form>-->
<!--            <img src="./../static/images/loop_magnifier.png" alt="search">-->
<!--        </containerSearch>-->
<!--        <img src="./../static/images/user.png" alt="user">-->
<!--        <p id="userName">User</p>-->
<!--    </header>-->
    <section class = "navbar" id="navBarOnHomePage">
			<nav class = "navButton">
				<button id="homeIcon"></button>
				<button id="listIcon"></button>
				<button id="mailIcon"></button>
			</nav>
    </section>
    <section class="homeDisplay">
        <section>
            <img src="./../static/images/logo.png" alt="LOGO">
            <h1>HappyStreet</h1>
        </section>
        <h2>By reporting incidents we make streets safer</h2>
        <p>
            In alteration insipidity impression by travelling reasonable up motionless. Of regard warmth by unable
        sudden garden ladies. No kept hung am size spot no. Likewise led and dissuade rejoiced welcomed husbands boy. Do listening on he suspected resembled. Water would still if to. Position boy required law moderate was may.
        </p>
        <input type="button" class="report" value="REPORT">
    </section>
    <section class="incidents">
        <h2>All Incidents reported</h2>
        <table>
<!--            <tr>-->
<!--                <th></th>-->
<!--                <th>Description</th>-->
<!--                <th>Address</th>-->
<!--                <th>Reported b + Date</th>-->
<!--            </tr>-->
            <tr>
                <td><img src="./../static/images/horaire.png" alt="horaire"></td>
                <td>Ceci est mon emploi du temps</td>
                <td>Louvain-la-Neuve</td>
                <td>
                    <li>Hirwa Raïssa</li>
                    <li>12/09/2001</li>
                </td>
            </tr>
            <tr>
                <td><img src="./../static/images/horaire.png" alt="horaire"></td>
                <td>Ceci est mon emploi du temps</td>
                <td>Louvain-la-Neuve</td>
                <td>
                    <li>Hirwa Raïssa</li>
                    <li>12/09/2001</li>
                </td>
            </tr>
            <tr>
                <td><img src="./../static/images/horaire.png" alt="horaire"></td>
                <td>Ceci est mon emploi du temps</td>
                <td>Louvain-la-Neuve</td>
                <td>
                    <li>Hirwa Raïssa</li>
                    <li>12/09/2001</li>
                </td>
            </tr>
            <tr>
                <td><img src="./../static/images/horaire.png" alt="horaire"></td>
                <td>Ceci est mon emploi du temps</td>
                <td>Louvain-la-Neuve</td>
                <td>
                    <li>Hirwa Raïssa</li>
                    <li>12/09/2001</li>
                </td>
            </tr>
        </table>
    </section>
    <footer>
        <section id="contact">
            <h2>CONTACT</h2>
            <li>02 080 99 99 (HELP) - 911 (EMERGENCY)</li>
            <li>email@happystreet.be</li>
            <li>Boulevard Tirou 90, 000 Là-bas</li>
        </section>
        <section id="info">
            <h2>MORE INFOS</h2>
            <li><a href="#">Legal terms </a></li>
            <li><a href="#">About us</a></li>
        </section>
    </footer>
</body>

