<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../static/css/report.css">
    <title>HappyStreet</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
<header>
    <img src="./../static/images/logo.png" alt="logo">
    <hr id="lineNextToName">
    <section id="nameAndMotoSection">
        <p id="name">HappyStreet</p>
        <hr id="lineBetweenNameAndMoto">
        <p id="moto">Report it To Annihilate it</p>
    </section>
    <containerSearch class="search">
        <form>
            <input type="text" name="search">
        </form>
        <img src="./../static/images/loop_magnifier.png" alt="search">
    </containerSearch>
    <img src="./../static/images/user.png" alt="user">
    <p id="userName">User</p>
</header>
<form>
    <input id="imageLoaderContainer" type="file">
    <nav class="navButton">
        <button id="homeIcon"></button>
        <button id="listIcon"></button>
        <button id="mailIcon"></button>
    </nav>
    <textarea id="descriptionInput" placeholder="Description..."></textarea>
    <div id='map'></div>
    <button id="postItButton">Post Incident</button>
</form>
</body>
<script type="text/javascript">
    mapboxgl.accessToken = 'pk.eyJ1IjoidmFyeW5jYW1sbyIsImEiOiJja2ZpYWd5cGswdDQ1MnFudjhocHA1bTVzIn0.-keMO_74HFJ2INvkbMqNpA';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>
</html>