<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../static/css/report.css">
    <title>HappyStreet</title>
</head>
<body>
<header>
    <img src="./../static/images/logo.png" alt="logo">
    <hr id="lineNextToName">
    <section id="nameAndMotoSection">
        <p id="name">HappyStreet</p>
        <hr id="lineBetweenNameAndMoto">
        <p id="moto">Report it To Annihilate it</p>
    </section>
    <containerSearch class="search">
        <form>
            <input type="text" name="search">
        </form>
        <img src="./../static/images/loop_magnifier.png" alt="search">
    </containerSearch>
    <img src="./../static/images/user.png" alt="user">
    <p id="userName">User</p>
</header>
<form>
    <input id="imageLoaderContainer" type="file">
    <nav class="navButton">
        <button id="homeIcon"></button>
        <button id="listIcon"></button>
        <button id="mailIcon"></button>
    </nav>
    <textarea id="descriptionInput" placeholder="Description..."></textarea>
    <textarea id="addressInput" placeholder="Address..." ></textarea>
    <button id="postItButton">Post Incident</button>
</form>
</body>
</html>