body{
    margin: 0;
    background-image: url("./../images/background2.jpg.png");
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    height: 80px;
    background: transparent linear-gradient(90deg, #007B89 0%, #FF8270  100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px #00000029;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

header img{
    height: 90%;
    alignment: center;
}

#lineNextToName {
    border: 2px solid #171D1C;
    height: 70%;
    width: 0;
    margin: 0 0 0 10px;
    padding: 0;
}

#nameAndMotoSection{
    margin-left: 15px;
    height: 100%;
    min-width: fit-content;
    display: table;
    margin-right: 15px;
}

#name{
    text-align: left;
    font-family: "League Spartan", sans-serif;
    font-size: 140%;
    color: #171D1C;
    margin: 0;
    padding-top: 8%; /*See if it can be done better*/
}

#lineBetweenNameAndMoto{
    width: 100%;
    height: 0;
    border-color: #171D1C;
    margin: 0;
}

#moto{
    text-align: left;
    font-family: "GeosansLight", sans-serif;
    letter-spacing: 2px;
    color: #171D1C;
    margin: 0 auto;
}

containerSearch{
    width: 25%;
    min-width: 120px;
    display: flex;
    height: 64px;
    background: #FFFFFF;
    border-radius: 22px;
    margin: 0 auto;
    padding: 0;
    align-items: center;

    /*Effects*/
    transition: width 0.4s ease-in-out;
}

containerSearch:hover{
    width: 50%;
}

containersearch:focus{
    width: 50%;
}

.search form{
    background-color: transparent;
    height: 100%;
    width: 85%;
    z-index: 1;
    margin: 0 auto;
    display: block;
}

.search form input[type="text"]{
    background-color: transparent;
    border-width: 0;
    height: 92%;
    width: 99%;
    outline-width: 0;
    font-size: 24px;
}

.search form input[type="text"]:focus{
    border-width: 0;
    outline-width: 0;
}

.search form input[type="text"],textarea:focus{
    background-color: transparent;
    border-width: 0;
    height: 92%;
    width: 99%;
    outline-width: 0;
    font-size: 24px;
    font-weight: lighter;
}

.search img{
    width: 30px;
    height: 30px;
    float: right;
    z-index: 2;
    margin-right: 8px;
}

#userName{
    margin-right: auto;
}

form{
    height: fit-content;
    width: 96%;
    flex-direction: row;
    margin-top: 12.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: auto;
    padding-left: 2%;
    padding-right: 2%;

}

#imageLoaderContainer{
    width: 500px;
    height: 644px;
    background: #FFFFFF;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    align-items: center;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
}

.verticalCenteredElements{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#descriptionInput{
    width: 582px;
    height: 334px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    float: right;
    grid-column: 3;
    grid-row: 1;
}

#addressInput{
    width: 582px;
    height: 206px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 24px #00000029;
    border: 1px solid #707070;
    grid-column: 3;
    grid-row: 1;
    margin-top: auto;
}

input[type="text"], textarea{
    width: 100%;
    height: 100%;
}

/*The navigation bar*/
.navButton{
    width: 47px;
    height: 209px;
    background: #FF8270 0 0 no-repeat padding-box;
    border-radius: 24px;
    border:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto auto auto;
}

.navButton button {
    margin: auto;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-width: 0;
}

.navButton button:active {
    outline-width: 0;
    border-width: 0;
}

#homeIcon{
    background-image: url("./../images/home@3x.png");
}

#homeIcon:hover{
    background-image: url("./../images/home-white.png");
}

#listIcon{
    background-image: url("./../images/menu@3x.png");
}

#listIcon:hover{
    background-image: url("./../images/menu-white@3x.png");
}

#mailIcon{
    background-image: url("./../images/mail@3x.png");
}

#mailIcon:hover{
    background-image: url("./../images/mail-white@3x.png");
}

#mailIcon:focus{
    background-image: url("./../images/mail-white@3x.png");
}

#mailIcon:active{
    outline-width: 0;
    box-shadow: transparent;
}