<!DOCTYPE html>
<html lang="EN-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIQ | Payments page</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div id="navbar_open">≡
        </div>
        <div class="navbar bg-color-white" id="navbar_header">
                <h4 id="navbar_close">X</h4>
                {{#loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/orders_page">Orders</a></li>
                </ul>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                </ul>
                {{/loggedIn}}

            </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/dashboard">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <section class="top-section">
        <div class="restaurant-details text-align-left">
            <h2>{{name}}</h2>
        </div>
        <div>
            <h1 class="text-align-right">Payments</h1>
        </div>
    </section>
    <table class="table-of-payments table-of-orders">
        <tr class="header-row">
            <th> Reference </th>
            <th> Argent obtenu entre </th>
            <th> Date prévue de versement </th>
            <th> Status</th>
            <th> Total</th>
        </tr>
        <tr >
            <td><h1>INDISPONIBLE POUR LE MOMENT</h1></td>
        </tr>
    </table>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>