body form{
	margin-top: 10%;
}

label{
	color: #545454 ;
	float: left;
	width: 38%;
	margin-top: 12px;
	margin-bottom: 12px;
}

hr{
	border:0;
}

/* For logging in */

.login{
	float: left;
	margin-left: 30px;
	width: 60%;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #FF8270;	
}


.login h1{
	padding-bottom: 30px;
	font-family: sans-serif;
	font-size:20px;
}

.login{
	float: left;
	margin-left: 30px;
	width: 70%;
	grid-column:1; 
	padding: 0px 30px;

}

.login input[type="text"], [type="password"]{
	float: right;
	width: 60%;
	border-width: 0;
	border-bottom-width: 1px; 
	outline-width: 0;
	background-color: transparent;
	margin-top: 12px;
	margin-bottom: 12px;
}


.login button{
	margin-top: 25%;
	margin-left: 20%;
	padding: 2% 20%;
	float: bottom;
}

/* For Signing up */ 

.signup{
	float: right;
	margin-left: 30px;
	width: 70%;
	grid-column:3; 
	min-height: 32vh;
	padding: 0px 30px;
	background-color: #FF8270;
}

.signup h1{
	padding-bottom: 30px;
	font-family: sans-serif;
	font-size:20px;
}

.signup input[type="text"], [type="password"],[type="email"] {
	float: right;
	width: 60%;
	border-width: 0;
	border-bottom-width: 1px; 
	outline-width: 0;
	background-color: transparent;
	margin-top: 12px;
	margin-bottom: 12px;
}

.signup button{
	margin-top: 15%;
	margin-right: 35%;
	margin-left: 35%;
	padding: 2.5% 9%;
}

/* For all button in general */

.button{
	margin: 3px;
	font-family: "GeosansLight", sans-serif;
	color: lightgrey;
	background-color: #007B89;
	float: bottom;
}