hr{
	border:0;
}

label{
	color: #545454 ;
	text-align: left;
}

input[type="text"], [type="password"],[type="email"] {
	float: right;
	width: 80%;
	border-width: 0;
	border-bottom-width: 1px; 
	outline-width: 0;
	background-color: transparent;
}

.login{
	float: left;
	margin-left: 30px;
	width: 30%;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #FF8270;	
}

.login h1{
	padding-bottom: 30px;
}

.login button{
	margin: content;
	margin-top: 30px;
	margin-right: 32%;
	margin-left: 32%;
	padding: 2.5% 9%;
}


.signup{
	float: right;
	margin-right: 30px;
	width: 30%;
	min-height: 32vh;
	padding: 0px 25px;
	background-color: #FF8270;
}

.signup button{
	margin-right: 35%;
	margin-left: 35%;
	padding: 2.5% 9%;
}

.button{
	margin: 3px;
	font: GeosansLight;
	color: lightgrey;
	background-color: #007B89;
}