:root{
	--opacity-login:1;
	--opacity-signup:1;
}

body form{
	margin-top: 10%;
}

label{
	font-family: "GeosansLight", serif;
	color: #545454 ;
	float: left;
	width: 38%;
	margin-top: 12px;
	margin-bottom: 12px;
}

hr{
	border:0;
}

/* For logging in */

.login{
	width: 60%;
	padding: 0 25px;
	background-color: #FF8270;
	margin: 0 auto;
}

.login:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}


h1{
    font: normal normal bold 24px/30px League Spartan;
	padding-bottom: 30px;
}

.login{
	float: left;
	width: 70%;
	grid-column:1; 
	box-shadow: 0 0 50px #00000029;
}

.login input[type="text"], [type="password"]{
	float: right;
	width: 60%;
	border-width: 0;
	border-bottom-width: 1px; 
	outline-width: 0;
	background-color: transparent;
	margin-top: 12px;
	margin-bottom: 12px;
}


.login button{
	margin-top: 34%;
	margin-left: 25%;
	padding: 2.5% 15%;
	border:0;
}

/* For navigation bar */

.navbar {
    display: flex;
}

/* For Signing up */ 

.signup{
	float: right;
	width: 70%;
	grid-column:3; 
	min-height: 32vh;
	padding: 0 30px;
	background-color: #FF8270;
	box-shadow: 0 0 50px #00000029;
	margin: 0 auto;
	opacity: var(--opacity-signup);
}



.signup input[type="text"], [type="password"],[type="email"] {
	float: right;
	width: 60%;
	border-width: 0;
	border-bottom-width: 1px; 
	outline-width: 0;
	background-color: transparent;
	margin-top: 12px;
	margin-bottom: 12px;

}

.signup button{
	margin-top: 13%;
	margin-right: 35%;
	margin-left: 35%;
	padding: 2.5% 9%;
	border:0;
}

/* For all button in general */

.button{
	margin: 3px;
	font-family: "GeosansLight", sans-serif;
	color: lightgrey;
	background-color: #007B89;
}
button:hover{
    background-color:white;
    color: #007B89;
}
