html{
    margin:0
}

.homeDisplay{
    height:1000px;
}

.homeDisplay{
    background: url("../../static/images/header_shape.svg") no-repeat;
    background-size: 100%;
}

.homeDisplay section{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.homeDisplay section h1{
    padding-top: 25vh;
    padding-bottom: 25vh;
    margin: 0 auto;
}

.homeDisplay h1 img{
    margin: 0 auto;
    height: 25vh;
    width: 25vh;
}
.homeDisplay h1 p{
    float: right;
    padding-right: 35%;
    padding-top:3%;
    font-size: 40px;
}

.homeDisplay p{
    padding-bottom: 30px;
}

.report{
    width: 200px;
    height: 50px;
    background: #007B89 0 0 no-repeat padding-box;
    border-radius: 51px;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: lighter;
    outline-width: 0;
    border: #007B89;
}

.report button:active {
    outline:0;
    text-decoration-width: 0;
    border-width: 0;
}

.incidents{
    padding: 5px;
    margin-top: 10%;
    margin-bottom: 35%;
    align-content: center;
}

.incidents table{
    width: 96%;
    border-right:hidden;
    border-collapse:separate;
    border-spacing: 0 20px;
    align-content: center;
    margin: 0 auto;
}

.incidents table tr th{
    background-color: transparent;
    box-shadow: none;
}

.incidents table tr{
    background: white;
    box-shadow: 0 0 10px #00000029;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.incidents table tr td{
    height: 300px;
}

.incidents table tr td img{
    width: 300px;
    height: 112px;
}

div{
    width: 100%;
    height: 80px;
    background: transparent linear-gradient(90deg, #007B89 0%, #ff8270 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px #00000029;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0;
}

div img{
    height: 90%;
}
.page3{
    background-color: #007B89;
    box-shadow: 0 0 10px #00000029;
    display: grid;
    padding:4%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#contact{
    text-align: left;
}

#info{
    text-align: right;
}
