<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Check Out</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/checkOutPage.js"></script>
</head>
<body class="input-page">
    <div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form class="round-border">
            <label for="building">Choose a building :</label>
                <!-- We are going to use select
                <input type="" placeholder="Building to which deliver the food ..." name="building" id="building">-->
            <select name="building" id="building" class="input round-border border-less margin-top-bottom">
                <option value="Montesquieu">Montesquieu</option>
                <option value="Agora">Agora</option>
                <option value="Studio">Studio</option>
                <option value="Sainte-Barbe">Sainte-Barbe</option>
                <option value="Cyclotron">Cyclotron</option>
                <option value="Leclercq">Leclercq</option>
                <option value="Doyen">Doyen</option>
                <option value="Lavoisier">Lavoisier</option>
                <option value="Croix-du-sud">Croix-du-sud</option>
                <option value="ILV">ILV</option>
                <option value="Mercator">Mercator</option>
            </select>
            <div>
                <label for="date">Choose the date on which you want your order</label>
                <input type="date" id="date" min="{{dateMin}}">
            </div>
            <input type="submit" value="Confirm order" class="bg-color-black" id="confirm_order">
        </form>
    </div>
    <div class="popup-plate full-height-section bg-color-white" id="popup_plate_header">
        <h2>Order</h2>
        {{#basket}}
        <ul>
            {{#restaurants}}
            <li>
                <h2>{{restaurant}}</h2>
                <hr class="bg-color-black">
                <ul>
                    {{#items}}
                    <li class="item">
                        <input type="number" min="0" max="20" value="{{quantity}}" class="bg-color-black border-less" name="{{restaurant}}|{{name}}">
                        <p class="name text-align-left" id="name">{{name}}</p>
                        <p class="text-align-right">{{unityPrice}}€</p>
                    </li>
                    {{/items}}
                </ul>
            </li>
            {{/restaurants}}
        </ul>
        <div class="bg-color-black bottom-of-container three-gridded-layout">
            <p class="text-align-left" id="totalItems">{{totalItems}}</p>
            <p>Total</p>
            <p class="text-align-right" id="totalAmount">{{totalAmount}}€</p>
        </div>
        {{/basket}}
        {{^basket}}
            <h1> It seems like your basket is empty try adding some items :)</h1>
        {{/basket}}
    </div>
</body>
</html>