<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Home</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/animateBubbles.js"></script>
</head>
<body>
    <header>
        <button id="navbar_open" type="button" class="border-less">≡
        </button>
        <div class="navbar bg-color-white" id="navbar_header">
                <button id="navbar_close" class="border-less bg-color-black color-white">X</button>
                <ul>
                {{#loggedIn}}
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/orders_page">Orders</a></li>
                    <li><a href="/check_out">Check Out</a></li>
                {{/loggedIn}}
                {{^loggedIn}}
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                {{/loggedIn}}
                    <li><a href="/creating_restaurant">Add your restaurant</a></li>
                    <li><a href="/seller_login">Log in as a seller</a></li>
                {{#loggedInAsASeller}}
                    <li><a href="/dashboard">Go to {{name}} Dashboard.</a></li>
                {{/loggedInAsASeller}}
                </ul>
        </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form action="search">
            <input type="search" name="search" id="searchInput" placeholder="De quoi avez vous envie de savourer :) …">
            <input type="submit" value=" ">
        </form>
        <div class="plate round-border" id="popup_plate_open">
            <img>
        </div>
        <div class="popup-plate full-height-section bg-color-white" id="popup_plate_header">
            <button class="bg-color-white border-less left" id="popup_plate_close">X</button>
            <h2>PLATE</h2>
            {{#basket}}
            <ul>
                {{#restaurants}}
                <li>
                    <h2>{{restaurant}}</h2>
                    <hr class="bg-color-black">
                    <ul>
                        {{#items}}
                        <li class="item">
                            <input type="number" min="0" max="20" value="{{quantity}}" class="bg-color-black border-less" name="{{restaurant}}|{{name}}">
                            <p class="name text-align-left" id="name">{{name}}</p>
                            <p class="text-align-right">{{unityPrice}}€</p>
                        </li>
                        {{/items}}
                    </ul>
                </li>
                {{/restaurants}}
            </ul>
            <div class="bg-color-black bottom-of-container three-gridded-layout">
                <p class="text-align-left" id="totalItems">{{totalItems}}</p>
                <a href="/check_out" class="color-white align-center">Check Out</a>
                <p class="text-align-right" id="totalAmount">{{totalAmount}}€</p>
            </div>
            {{/basket}}
            {{^basket}}
                <h1> It seems like your basket is empty try adding some items :)</h1>
            {{/basket}}
        </div>
    </header>
    <section class="emojis-section">
        <a href="/search?search=pasta">
            <img src="./images/pasta.png">
            <p>Pasta</p>
        </a>
        <a href="/search?search=sandwich">
            <img src="./images/sandwich.png">
            <p>Sandwich</p>
        </a>
        <a href="/search?search=burger">
            <img src="./images/burger.png">
            <p>Burger</p>
        </a>
        <a href="/search?search=vegan">
            <img src="./images/vegan.png">
            <p>Vegan</p>
        </a>
        <a href="/search?search=sushi">
            <img src="./images/sushi.png">
            <p>Sushi</p>
        </a>
    </section>
    <section class="popular-section full-width-section">
        <h1>Populaires</h1>
        <section class="bubbles-container">
            <a class="bg-color-black bubble">
                <img src="./images/quickLogo.png">
            </a>
            <a class="bg-color-orange bubble">
                <img src="./images/burgerKingLogo.png">
            </a>
            <a class="bg-color-red bubble">
                <img src="./images/Otacos/OtacosLogo.png">
            </a>
            <a class="bg-color-white bubble">
                <img src="./images/image.gif">
            </a>
        </section>
    </section>
    <section>
        <h1>Offres</h1>
        <ul class="list-of-restaurants three-gridded-layout">
            <li>
                <a>
                    <div>
                        <img src="./images/Burger King/burger.jpg">
                    </div>
                    <section><h1>Burger King</h1><p>23.4€</p></section>
                </a>
            </li>
            <li>
                <a>
                    <div>
                        <img src="./images/Burger King/burger.jpg">
                    </div>
                    <section><h1>Burger King</h1><p>23.4€</p>
                    </section>
                </a>
            </li>
            <li>
                <a>
                    <div>
                        <img src="./images/Otacos/otacos-tacos.jpg">
                    </div>
                    <section><h3>Burger King</h3><p>23.4€</p>
                    </section>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h1>Restaurants</h1>
        <ul class="list-of-restaurants three-gridded-layout">
            {{#restaurants}}
            <li>
                <a href="/restaurant_view?name={{name}}">
                    <div>
                        {{#imgSrc}}
                            <img src={{imgSrc}} alt="The Restaurant Image wasn't provided">
                        {{/imgSrc}}
                        {{^imgSrc}}
                            <img src="./images/No-Photo-Available.jpg">
                        {{/imgSrc}}
                    </div>
                    <section class="color-black"><h1>{{name}}</h1><p>{{avgPrice}}€</p></section>
                </a>
            </li>
            {{/restaurants}}
        </ul>
    </section>
    <div class="filter-button bg-color-green round-border" id="filter_open">
        <p id="filter">TRIER</p>
    </div>
    <div class="filter-bar text-align-left" id="filter_bar">
        <div>
            <section>
                <button id="filter_close" class="right margin-left-right bg-color-black color-white border-less">x</button>
                <h2>Filtré par</h2>
            </section>
            <form action="/search" method="GET">
                <section class="row-display margin-top-bottom">
                    <label for="budgetSlider">Prix:</label>
                    <input type="range" name="budget" value="0" id="budgetSlider">
                    <p id="rangeValue">0.00€</p>
                </section>
                <p>Regime : </p>
                <input type="radio" name="regime" value="vegetarien" id="vegetarian">
                <label for="vegetarian">Végétarien</label><br>
                <input type="radio" name="regime" value="Halal" id="halal">
                <label for="halal">Halal</label><br>
                <input type="radio" name="regime" value="vegan" id="vegan">
                <label for="vegan">Vegan</label><br>
                <input type="radio" name="regime" value="sans-gluten" id="sans-gluten">
                <label for="sans-gluten">Sans gluten</label><br>
                <input type="submit" value="Submit" class="bg-color-black border-less">
            </form>
        </div>
    </div>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>