<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Home</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <div>≡
            <!-- This is the pop up nav bar section the user is not yet logged in-->
            <span id="NavBar-NotLoggedin">
                <button type="submit" name ="logIn">LOG IN</button>
                <p>
                    <ul>
                        <li><a href="./UserSignUpCompletingPage.html">SIGN UP</a></li>
                        <li><a href="">ADD YOUR RESTAURANT</a></li>
                        <li><a href="">LOG IN AS A SELLER</a></li>
                    </ul>
                </p>
            </span>
            <!-- This is the pop up nav bar section the user is logged in || Maybe use Mustache??!!-->
            <span id="NavBar-Loggedin">
                <img src ="" alt="User_Avatar" class="UserAvatar">
                <div class="user-name">Client Lambda</div>
                <p>
                    <ul>
                        <li><a href="./OrdersPage.html">ODERS</a></li>
                        <li><a href="../Seller/CreateRestaurantSpeci.html">ADD YOUR RESTAURANT</a></li>
                        <li><a href="../Seller/SellerLoginPage.html">LOG IN AS A SELLER</a></li>
                    </ul>
                </p>
            </span>
        </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form>
            <input type="search" name="search" id="searchInput" placeholder="Quoi avez vous envie de savourer :) …">
            <input type="submit" value="">
        </form>
        <div class="plate round-border">
            <img>
            <p>2</p>
        </div>
        <!-- When clicked on the plate -->
        <span class="popup-plate">
            <h2>PLATE</h2>
            <table class="commandes">
                <tr>
                    <th>O'TACOS</th>
                </tr>
                {{#commande}}
                <tr class="commande-restaurant">
                    <td>
                        <form action="">
                            <input type="number" id="quantity" name="quantity" min="1" max="20">
                        </form>
                    </td>
                    <td>
                        O'TACOS XL & sauce Andalouse
                    </td>
                    <td>
                        7,80€
                    </td>
                </tr>
                {{/commande}}
            </table>

            <button type="submit" class="order-button">ORDER {{total}}</button>
        </span>
    </header>
    <section class="emojis-section">
        <a>
            <img src="/static/images/pasta.png">
            <p>Pasta</p>
        </a>
        <a>
            <img src="./images/sandwich.png">
            <p>Sandwich</p>
        </a>
        <a>
            <img src="./images/burger.png">
            <p>Burger</p>
        </a>
        <a>
            <img src="./images/vegan.png">
            <p>Vegan</p>
        </a>
        <a>
            <img src="./images/sushi.png">
            <p>Sushi</p>
        </a>
    </section>
    <section class="popular-section full-width-section">
        <h1>Populaires</h1>
        <section>
            <a class="bg-color-black">
                <img src="./images/quickLogo.png">
            </a>
            <a class="bg-color-orange">
                <img src="./images/burgerKingLogo.png">
            </a>
            <a class="bg-color-red">
                <img src="./images/Otacos/OtacosLogo.png">
            </a>
            <a class="bg-color-white">
                <img src="./images/image.gif">
            </a>
        </section>
    </section>
    <section>
        <h1>Offres</h1>
        <ul class="list-of-restaurants three-gridded-layout">
            <li>
                <a>
                    <div>
                        <img src="./images/Burger King/burger.jpg">
                    </div>
                    <section><h1>Burger King</h1><p>23.4€</p></section>
                </a>
            </li>
            <li>
                <a>
                    <div>
                        <img src="./images/Burger King/burger.jpg">
                    </div>
                    <section><h1>Burger King</h1><p>23.4€</p>
                    </section>
                </a>
            </li>
            <li>
                <a>
                    <div>
                        <img src="./images/Otacos/otacos-tacos.jpg">
                    </div>
                    <section><h1>Burger King</h1><p>23.4€</p>
                    </section>
                </a>
            </li>
        </ul>
        </section>
    </section>
    <h2>RESTAURANTS</h2>
    <table class="3-layout-table">
        <tr>
            <td>
                <a>
                    <div>
                        <img src="./images/Carrefour/original.jpeg">
                    </div>
                    <section><h1>Carrefour</h1><p>23.4€</p></section>
                </a>
            </td>
            <td>
                <a>
                    <div>
                        <img src="./images/Exki/carre_site_internet.jpg">
                    </div>
                    <section><h1>Exki</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
            <td>
                <a>
                    <div>
                        <img src="./images/Kebab/durum-doner-sandwich.jpg">
                    </div>
                    <section><h1>Kebab</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a>
                    <div>
                        <img src="./images/Otacos/otacos-tacos.jpg">
                    </div>
                    <section><h1>O'Tacos</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
            <td>
                <a>
                    <div>
                        <img src="./images/Quick/471b2929-9ac9-4efb-991f-4ce13450687f.jpeg">
                    </div>
                    <section><h1>Quick</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
            <td>
                <a>
                    <div>
                        <img src="./images/Sandwicherie/sandwicheries-ice-shop.jpg">
                    </div>
                    <section><h1>Sandwicherie</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a>
                    <div>
                        <img src="./images/Sushi/5e5fed0c9978e2051e0387d4.webp">
                    </div>
                    <section><h1>Sushi</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
            <td>
                <a>
                    <div>
                        <img src="./images/Spar/SPAR-Brand-group_shot_sept-2014.jpg">
                    </div>
                    <section><h1>Spar</h1><p>23.4€</p>
                    </section>
                </a>
            </td>
        </tr>
    </table>

    <button class="filter-bar-closed"><p>FILTRE</p></button>
    {{filter}}
        <div class="filter-bar open">
            <h3>Filtré par</h3>
            <p>Prix:<input type="range"></p>
            <p>Regime : <form>
            <input type="radio" name="regime" value="vegetarien">
            <label>Végétarien</label><br>
            <input type="radio" name="regime" value="Halal">
            <label>Halal</label><br>
            <input type="radio" name="regime" value="vegan">
            <label>Vegan</label><br>
            <input type="radio" name="regime" value="sans-gluten">
            <label>Sans gluten</label><br>
            </form>
            </p>
            <p><input type="submit" value="Submit"></p>
        </div>
    {{\filter}}

    <footer>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div class="politique-de-conf conditions tarif">
            <ul>
                <li><a href="">Politique de confidalité</a></li>
                <li><a href="">Conditions</a></li>
                <li><a href="">Tarifs</a></li>
            </ul>
        </div>
        <div class="apropos-de-giq">
            <h2>A propos de GIQ</h2>
            <ul>
                <li><a href="">Histoire</a></li>
                <li><a href="">Enregister votre commerce</a></li>
                <li><a href="">Consulter le FAQ</a></li>
            </ul>
        </div>
        <div class="contact">
            <h2>Nous Contacter</h2>
            <ul>
                <li>Tel : 0465 36 43 45 </li>
                <li>E-Mail : contact@giq.be</li>
            </ul>
        </div>
    </footer>
</body>
</html>