<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Home</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <div>≡</div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form>
            <input type="search" name="search" id="searchInput" placeholder="Quoi avez vous envie de savourer :) …">
            <input type="submit" value="">
        </form>
        <div class="plate round-border">
            <img>
            <p>2</p>
        </div>
    </header>
        <section class="emojis-section">
            <a>
                <img src="./images/pasta.png">
                <p>Pasta</p>
            </a>
            <a>
                <img src="./images/sandwich.png">
                <p>Sandwich</p>
            </a>
            <a>
                <img src="./images/burger.png">
                <p>Burger</p>
            </a>
            <a>
                <img src="./images/vegan.png">
                <p>Vegan</p>
            </a>
            <a>
                <img src="./images/sushi.png">
                <p>Sushi</p>
            </a>
        </section>
        <section class="popular-section full-width-section">
            <h1>Populaires</h1>
            <section>
                <a class="bg-color-black">
                    <img src="./images/quickLogo.png">
                </a>
                <a class="bg-color-orange">
                    <img src="./images/burgerKingLogo.png">
                </a>
                <a class="bg-color-red">
                    <img src="./images/Otacos/OtacosLogo.png">
                </a>
                <a class="bg-color-white">
                    <img src="./images/image.gif">
                </a>
            </section>
        </section>
        <section>
            <h1>Offres</h1>
            <ul class="list-of-restaurants three-gridded-layout">
                <li>
                    <a>
                        <div>
                            <img src="./images/Burger King/burger.jpg">
                        </div>
                        <section><h1>Burger King</h1><p>23.4€</p></section>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="./images/Burger King/burger.jpg">
                        </div>
                        <section><h1>Burger King</h1><p>23.4€</p>
                        </section>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="./images/Otacos/otacos-tacos.jpg">
                        </div>
                        <section><h1>Burger King</h1><p>23.4€</p>
                        </section>
                    </a>
                </li>
            </ul>
            </section>
        </section>
        <table>
        </table>
    <footer>
    </footer>
</body>
</html>