<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Orders </title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type='text/javascript' src="js/ordersOfUserPage.js"></script>
</head>
<body>
    <header>
        <button id="navbar_open" type="button" class="border-less">≡
        </button>
        <div class="navbar bg-color-white" id="navbar_header">
                <button id="navbar_close" class="border-less bg-color-black color-white">X</button>
                {{#loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/">HomePage</a></li>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                {{/loggedIn}}
                </ul>
        </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form action="search">
            <input type="search" name="search" id="searchInput" placeholder="De quoi avez vous envie de savourer :) …">
            <input type="submit" value=" ">
        </form>
        <div class="plate round-border" id="popup_plate_open">
            <img>
        </div>
        <div class="popup-plate full-height-section bg-color-white" id="popup_plate_header">
            <button class="bg-color-white border-less left" id="popup_plate_close">X</button>
            <h2>PLATE</h2>
            <h1 id="basketText"> It seems like your basket is empty try adding some items :)</h1>
            <p id="p"> </p>
        </div>
    </header>
    <section class="list-orders">
        <h1>All of Your Orders</h1>
        
        <table class="table-of-customer-orders table-of-payments table-of-orders">
            <tr class="header-row">
                <th>Order</th>
                <th>Date</th>
                <th>Batiment</th>
                <th>Status</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            {{#orderList}}
            <tr class="shadow paid">
                <td class="orderId">{{_id}}</td >
                <td class="date">{{date}}</td>
                <td class="building">{{building}} </td>
                <td class="status">{{status}}</td>
                <td class="total">{{total}}</td>
                <td class="action">
                    <button class ="reOrder_btn"> Details </button>
                </td>
            </tr>
            {{/orderList}}
            {{^orderList}}
            <tr>
                <td><h1> You haven't placed orders yet</h1></td>
            </tr>
            {{/orderList}}

        </table>
        
    </section>
    <dialog class=" popup-plate popup-item-specifications  text-align-left" id="popup_item">
         
        <section class="buttons">
            <button value="cancel" class="bg-color-black color-white" id="close_popup" >Annuler</button>
            <button value="default" class="bg-color-green" id="submit_popup" type="submit">REORDER {{total}}€</button>
        </section>       
    </dialog>
</body>
</html>
