<!DOCTYPE html>
<html lang="en">
<head>dialog
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Restaurant</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/restaurantViewPage.js"></script>
</head>
<body>
    <header>
        <button id="navbar_open" type="button" class="border-less">≡
        </button>
        <div class="navbar bg-color-white" id="navbar_header">
                <button id="navbar_close" class="border-less bg-color-black color-white">X</button>
                {{#loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/orders_page">Orders</a></li>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                {{/loggedIn}}
                    <li><a href="/restaurant_speci">Add your restaurant</a></li>
                    <li><a href="/seller_login">Log in as a seller</a></li>
                </ul>
        </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form action="search">
            <input type="search" name="search" id="searchInput" placeholder="De quoi avez vous envie de savourer :) …">
            <input type="submit" value=" ">
        </form>
        <div class="plate round-border" id="popup_plate_open">
            <img>
        </div>
        <div class="popup-plate full-height-section bg-color-white" id="popup_plate_header">
            <button class="bg-color-white border-less left" id="popup_plate_close">X</button>
            <h2>PLATE</h2>
            {{#basket}}
            <ul>
                {{#restaurants}}
                <li>
                    <h2>{{restaurant}}</h2>
                    <hr class="bg-color-black">
                    <ul>
                        {{#items}}
                        <li class="item">
                            <input type="number" min="0" max="20" value="{{quantity}}" class="bg-color-black border-less" name="{{restaurant}}|{{name}}">
                            <p class="name text-align-left" id="name">{{name}}</p>
                            <p class="text-align-right">{{unityPrice}}€</p>
                        </li>
                        {{/items}}
                    </ul>
                </li>
                {{/restaurants}}
            </ul>
            <div class="bg-color-black bottom-of-container three-gridded-layout">
                <p class="text-align-left" id="totalItems">{{totalItems}}</p>
                <p>Total</p>
                <p class="text-align-right" id="totalAmount">{{totalAmount}}€</p>
            </div>
            {{/basket}}
            {{^basket}}
                <h1> It seems like your basket is empty try adding some items :)</h1>
            {{/basket}}
        </div>
    </header>
    <section class="restaurant-info bg-color-green">
        <div class="text-align-right">
            <h1>{{name}} |</h1>
        </div>
        <div class="text-align-left">
            <p>Ouvert {{horaire}} | {{phone}}</p>
            <p>{{address}}</p>
            <p class="prix-moyen-restaurant">
            Prix moyen dépensé : {{avgPrice}}
            </p>
        </div>
        <div class="image-container">
            <img src="./images/Otacos/otacos-tacos.jpg">
        </div>
    </section>
    <div class="categories-tab round-border bg-color-white color-black">
        <a href="#menus">Menus</a>
        <a href="#tacos">O'Tacos</a>
        <a href="#frites">Frites</a>
        <a href="#boissons">Boissons</a>
    </div>
    <section>
        <section id="menus" class="margin-top-bottom">
            <h2>Menus</h2>
            <ul class="list-of-items three-gridded-layout">
                <li>
                    <div>
                        <section>
                            <h1>Menu étudiant</h1>
                            <p>Choisissez la viande et une boisson.</p>
                            <p>23.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Menu enfant</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p class="bottom-of-container">23.40€</p>
                        </section>
                        <div>
                            <img src="images/Burger King/burger.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Menu étudiant</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>9.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section id="tacos" class="margin-top-bottom">
            <h2>O'Tacos</h2>
            <ul class="list-of-items three-gridded-layout">
                <li>
                    <div>
                        <section>
                            <h1>O'Tacos L</h1>
                            <p>Choisissez la viande et une boisson.</p>
                            <p>23.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>O'Tacos M</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>23.4€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>O'Tacos XL</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>9.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section id="frites" class="margin-top-bottom">
            <h2>Frites</h2>
            <ul class="list-of-items three-gridded-layout">
                <li>
                    <div>
                        <section>
                            <h1>Frites L</h1>
                            <p>Choisissez la viande et une boisson.</p>
                            <p>23.4€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Frites M</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>23.4€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Frites XL</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>9.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section id="boissons" class="margin-top-bottom">
            <h2>Boissons</h2>
            <ul class="list-of-items three-gridded-layout">
                <li>
                    <div>
                        <section>
                            <h1>Coca</h1>
                            <p>Choisissez la viande et une boisson.</p>
                            <p>23.4€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Fanta</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>23.4€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <section>
                            <h1>Sprite</h1>
                            <p>Did you know you need to be a user in order to create/ add a restaurant</p>
                            <p>9.40€</p>
                        </section>
                        <div>
                            <img src="images/Otacos/otacos-tacos.jpg">
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
    <dialog class="popup-item-specifications bg-color-white text-align-left" id="popup_item">
        <h3 id="item_name">Menu étudiant</h3>
        <div class="image-container">
            <img src="images/Otacos/otacos-tacos.jpg">
        </div>
        <form method="dialog">
                <p>Choisissez des légumes : </p>
                <label for="poivrons">
                    <input type="radio" name="option1" value="poivrons" id="poivrons">
                    Poivrons
                </label>
                <label for="onions">
                    <input type="radio" name="option1" value="onion" id="onions">
                    Onions
                </label>
                <label for="cocombres">
                    <input type="radio" name="option1" value="cocombres" id="cocombres">
                    Cocombres
                </label>
                <p>Souhaitez vous des suppléments ?</p>
                <label>
                    <input type="checkbox" name="option2" value="eau">
                    Eau
                </label>
                <label for="maggi">
                    <input type="checkbox" name="option2" value="maggi" id="maggi">
                    Maggi
                </label>
                <label for="sel">
                    <input type="checkbox" name="option2" value="sel" id="sel">
                    Sel
                </label>
        </form>
        <section class="buttons">
            <button type="submit" class="bg-color-black color-white" value="cancel" id="close_popup">Annuler</button>
            <button type="submit" class="bg-color-green">Ajouter à vôtre assiette {{total_sup}}</button>
        </section>
    </dialog>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>
