<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Sign Up</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="input-page">
    <div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form class="round-border" method="POST" action="/signup_giveNumber">
            <p class="msg" >{{phoneNumberError}}</p>
            <label for="number"></label>
            <input type="tel" name="phoneNumber" placeholder="Start with 32..." id="number">
            <input type="submit" value="Send" class="bg-color-black">
        </form>
    </div>
    <div class="announcement">
        <h1><span class="color-orange">We are asking your</span> phone number <span>in order to</span>
        verify that you are physical person.<span class="color-orange"> And in order to
        be able</span> increase security <span class="color-orange">with the 2-step verification.</span></h1>
    </div>
</body>
</html>