<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
    </header>
    <div class="register-login-rectangle">
        <input type="number" placeholder="Enter Phone Number ...">

        <p><button type="submit">SEND</button> </p>
    </div>
    <p>
        We are asking your phone number in order to verify that you are a physical person.
        Thus, we are able to increase security with the 2-step verification.
    </p>

</body>
</html>