<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | User Login</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
    </header>
    <div class="register-login-rectangle">
        {{LoginError}}
            <p>The password doesn't match username <br>
            Try another password ...</p>
        {{\LoginError}}
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <p><button type="submit">LOG IN</button> </p>
    </div>
    <div class="forget-password">
        <p><a href="">Forgot password?</a></p>
    </div>
    <p>
        Place an order and get a chance to have a FREE MEAL the next day ...
    </p>

</body>
</html>