<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | User Login</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="input-page">
    <div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <form class="round-border" method="GET">
            <p>{{loginError}}</p>
            <label for="email"></label>
            <input type="email" name="mail" placeholder="Email..." id="email">
            <label for="password"></label>
            <input type="password" name="password" placeholder="Password..." id="password">
            <input type="submit" value="Log in" class="bg-color-black">
        </form>
        <a href="">Forgot password?</a>
    </div>
    <div class="announcement">
        <h1>Place an order and get a chance to have a <span class="color-orange">FREE <br> MEAL </span>the next day …</h1>
    </div>
</body>
</html>