<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Message</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="input-page">
    <div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>

    </div>
    <div class="announcement column-display">
        <h1>Place an order and get a chance to have a <span class="color-orange">FREE <br> MEAL </span>the next day …</h1>
        <button type="submit" class="bg-color-black color-white border-less">Next page</button>
    </div>

</body>
</html>