<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIQ | Modification page</title>
        <link rel="stylesheet" href="././static/css/main.css">
    </head>
    <body>
        <header>
            <!-- Depending on the page, Show the menu bar and (orders, store, payments) parts 

                this is the code if we use mustache

                {{#if seller}}
                 <div>≡</div>
                {{/if seller}}
            -->

            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>


            <ul class="seller-ul">
                <li><a href="/orders"> Orders </a></li>
                <li><a href="/my_store"> Store </a></li>
                <li><a href="/payments_list"> Payments </a></li>
            </ul>

        </header>
        <form action="/menu" method="POST">

            <input type="text" class="category-name" name="CategoryName" placeholder="Category Name"> <br>

            <textarea class="description-Area" name="CategoryDescri" placeholder="Description..."></textarea> 

            <section class="trueFalse">
                <label for="trueFalse"> Vendre le produit seul: </label>
                <input type="radio" name="trueFalse"> Oui
                <input type="radio" name="trueFalse"> Non
            </section>

            <section class="button-part">
                <button class="supprimerBtn"> Supprimer</button>
                <button class="annulerBtn"> Annuler</button>
                <button type="submit" class="enregisterBtn"> Enregistrer les modifications</button>
            </section>

        </form>

        <footer>

        </footer>
    </body>
</html>