<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIQ | Group Modification page</title>
        <link rel="stylesheet" href="././static/css/main.css">
    </head>

    <body>
        <header>
            <!-- Depending on the page, Show the menu bar and (orders, store, payments) parts -->
            {{isseller}}
            <div>≡</div>
            {{isseller}}

            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            
            {{isseller}}
            <ul class="seller-ul">
                <li><a href="/orders"> Orders </a></li>
                <li><a href="/my_store"> Store </a></li>
                <li><a href="/payments_list"> Payments </a></li>
            </ul>
        </header>
        <form  action="/add-group" method="POST">

            <!-- Group name and Description-->

            <input type="text" class="group-name" name="group-name" placeholder="Group Name"> <br>

            <textarea class="description-Area" name="group-description" placeholder="Description..."></textarea> 

            <!-- Where to choose additional products like Fanta, Coca-cola-->
            
            <section class="products">

                <div class="products-inputs">

                    <label for="productSearchInput" > Produits: </label>
                    <input type="search" class="productSearchInput"  name="productSearch" placeholder="Rechercher des produits"><br>
                   
                   
                    <!-- Mustache Here-->
                    <ul>
                        <li> {{the product}}Ex: Coca-cola  Extra charge <input type="number" name="priceInput" class="numberInput">€<br>
                        <li> {{the product}}Ex: L'eau      Extra charge <input type="number" name="priceInput" class="numberInput">€<br>
                        
                    </ul> 
                   <!-- End of mustache here -->

                </div>
            </section>

            <!-- LÀ OÙ LE VENDEUR CHOISI 2 REGLES CONCERNANT CE GROUPE -->

            <section class = "regles">
                <div class="regles-word"> 
                    <p>Régles: </p>
                </div>
                
                <div class="regles-inputs">
                    <input type="radio"  value="numberInput"> 
                    <label for="numberInput">limites des selections</label> <input type="number"  name="limiteDeSelection" class="groupLimiteDeSelection"><br>
                    
                    <input type="radio" value="numberInput"> 
                    <label for="numberInput2"> Nombres minimales des selections</label> <input type="number" name="selectionMinimales" class="selectionMinimales"><br>
                </div>
            </section>

            <!-- Buttons -->

            <div class="button-part">
                <button name="supprimerBtn" class="supprimerBtn"> Supprimer</button>
                <button class="AnnulerBtn"> Annuler</button>
                <button type="submit" class="EnregisterBtn"> Enregistrer les modifications</button>
            </div>

        </form>

        <footer>

        </footer>
    </body>
</html>

<!-- CHANGE THE LANGUAGE -->