<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIQ | Category {{name}}</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/addOrModifyCategory.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div></div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/orders">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <p class="color-orange">{{Error}}</p>
    <form action="/category" class="add-item" method="POST" id="form">
        <section>
            <label for="name"></label>
            <input type="text" class="category-name" id="name" name="name" placeholder="Category Name" value="{{name}}" required>
        </section>
        <section>
            <label for="description"></label>
            <textarea class="description-Area" id="description" name="description" placeholder="Description...">{{description}}</textarea>
        </section>
    </form>
    <section class="buttons margin-top-bottom margin-top-bottom">
        <button class="bg-color-red color-white border-less margin-top-bottom" id="deleteButton"> Delete </button>
        <button class="bg-color-black color-white border-less margin-top-bottom" onclick="window.open('/my_store', '_parent')"> Cancel </button>
        {{#Exist}}
            <button class="bg-color-green border-less margin-top-bottom" id="update-category"> Update Category </button>
        {{/Exist}}
        {{^Exist}}
            <button class="bg-color-green border-less margin-top-bottom" type="submit" form="form"> Add Category </button>
        {{/Exist}}
    </section>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>