<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIQ | Category</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script type="text/javascript" src="js/header.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div id="navbar_open">≡
        </div>
        <div class="navbar bg-color-white" id="navbar_header">
                <h4 id="navbar_close">X</h4>
                {{#loggedIn}}
                <img src ="" alt="User_Avatar" class="UserAvatar">
                <div class="user-name">Client Lambda</div>
                <ul>
                    <li><a href="/ord">ORDERS</a></li>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                {{/loggedIn}}
                    <li><a href="/restaurant_speci">Add your restaurant</a></li>
                    <li><a href="/seller_login">Log in as a seller</a></li>
                </ul>
            </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/orders">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <form action="/menu" class="add-item" method="POST">
        <section>
            <input type="text" class="category-name" name="CategoryName" placeholder="Category Name">
        </section>
        <section>
            <textarea class="description-Area" name="CategoryDescri" placeholder="Description..."></textarea>
        </section>
        <section class="trueFalse">
            <label> Visible aux clients : </label>
            <input type="radio" name="trueFalse"> Oui
            <input type="radio" name="trueFalse"> Non
        </section>
    </form>
    <section class="buttons margin-top-bottom margin-top-bottom">
        <button class="bg-color-red color-white border-less margin-top-bottom"> Delete </button>
        <button class="bg-color-black color-white border-less margin-top-bottom"> Cancel </button>
        <button class="bg-color-green border-less margin-top-bottom"> Save </button>
    </section>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>