<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIQ | Group Modification page</title>
        <link rel="stylesheet" href="././static/css/main.css">
    </head>

    <body>
        <header>
            <!-- Depending on the page, Show the menu bar and (orders, store, payments) parts -->
            {{# isseller}}
            <div>≡</div>
            {{isseller}}

            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            
            {{#isseller}}
            <ul class="seller-ul">
                <li><a href="DashboardPage.html"> Orders </a></li>
                <li><a href="StorePage.html"> Store </a></li>
                <li><a href="PaymentsPage.html"> Payments </a></li>
            </ul>
            {{/isseller}}
        </header>

        <!-- Group name and Description-->

        <input type="text" class = "group-name" placeholder="Group Name"> <br>

        <textarea class="description-Area" placeholder="Description..."></textarea> 

        <!-- Where to choose additional products like Fanta, Coca-cola-->
        
        <form class="products" action="add_group" method="POST">
            <div class="products-inputs">
                <label for="productSearchInput" > Produits: </label>
                <input type="search" class="productSearchInput"  name="productSearch" placeholder="Rechercher des produits"><br>
                
                {{suggestion}}
                <!--
                    Idea nuko tubona :
                    
                    <ul>
                        <li> {{the product}} Extra charge <input type="number" name="numberInput" class="numberInput"><br>
                        <li> {{the product}} Extra charge <input type="number" name="numberInput" class="numberInput"><br>
                        <li> {{the product}} Extra charge <input type="number" name="numberInput" class="numberInput"><br>
                    </ul> 
                
                    -->
                <ul>
                    <li> Coca cola Extra charge <input type="number" name="numberInput" class="numberInput">€<br>
                    <li> <input type="text" class="products" value="L'eau" disabled>  Extra charge <input type="number" name="numberInput" class="numberInput">€<br>
                    
                </ul> 
                {{/suggestion}}

            </div>
        </form>

        <!-- LÀ OÙ LE VENDEUR CHOISI 2 REGLES CONCERNANT CE GROUPE -->

        <form class = "regles">
            <div class="regles-word"> 
                <p>Régles: </p>
            </div>
            
            <div class="regles-inputs">
                <input type="radio"  value="numberInput"> 
                <label for="numberInput">limites des selections</label> <input type="number"  name="numberInput" class="numberInput"><br>
                
                <input type="radio" value="numberInput"> 
                <label for="numberInput2"> Nombres minimales des selections</label> <input type="number" name="numberInput2" class="numberInput2"><br>
            </div>
        </form>

        <!-- Buttons -->

        <div class="button-part">
            <button class="supprimerBtn"> Supprimer</button>
            <button class="AnnulerBtn"> Annuler</button>
            <button class="EnregisterBtn"> Enregistrer les modifications</button>
        </div>

        <footer>

        </footer>
    </body>
</html>

<!-- CHANGE THE LANGUAGE -->