<!DOCTYPE html>
<html lang="EN-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Item {{name}} </title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/imageUpload.js"></script>
    <script type="text/javascript" src="js/addOrModifyItem.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div></div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/orders">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <p class="color-orange">{{Error}}</p>
    <form id="form" class="add-item" action="/item" method="POST">
        <section class="image-text-item">
            <div class="image-container bg-color-white shadow">
                {{#imgSrc}}
                    <img class="hover-img" src="{{imgSrc}}">
                {{/imgSrc}}
                <input type="file" name="image" class="filepond">
            </div>
            <div class="column-display margin-left-right margin-top-bottom">
                <section class="column-display">
                    <label for="item_name"></label>
                    <input type="text" name="name" id="item_name" placeholder="Item Name..." value="{{name}}" class="full-width-section shadow border-less" required>
                    {{#itemExist}}
                        <p>You can't modify the name of an item, if you want to do so delete it then create a new one ... </p>
                    {{/itemExist}}
                </section>
                <section>
                    <label for="description"></label>
                    <textarea name="description" class="full-width-section shadow border-less" id="description" value="{{description}}"></textarea>
                </section>
                <section class="align-center">
                    <label class="margin-left-right"> Sold Alone :</label>
                    <label for="sellAloneYes">Oui</label>
                    <input type="radio" name="soldAlone" id="sellAloneYes" required>
                    <label for="sellAloneNo">Non</label>
                    <input type="radio" name="soldAlone" id="sellAloneNo">
                </section>
            </div>
        </section>
        <section class="group-categories bg-color-green shadow column-display">
            <div class="row-display text-align-left">
                <label for="choose-category">Choice of category :</label>
                <input class="input round-border border-less margin-left-right" list="list-of-categories" id="choose-category" placeholder="Research the category ..." autocomplete="on">
                <datalist id="list-of-categories">
                {{#listOfCategories}}
                    <option value="{{.}}"></option>
                {{/listOfCategories}}
                </datalist>
            </div>
            <div>
                <ul class="column-display" id="selectedCategories">
                    {{#categories}}
                        <li class="row-display margin-top-bottom">
                            <div class="item row-display bg-color-black color-white round-border">
                                <p>{{.}}</p>
                                <button class="itemRemove bg-color-black color-white border-less" type="button">X</button>
                            </div>
                        </li>
                    {{/categories}}
                </ul>
            </div>
        </section>
        <section class="group-categories bg-color-green shadow column-display ">
            <div class="row-display text-align-left">
                <label for="choose-group">Groups :</label>
                <input list="list-of-groups" id="choose-group" class="input round-border border-less margin-left-right" placeholder="Research groups ..." autocomplete="on">
                <datalist id="list-of-groups">
                {{#listOfGroups}}
                    <option value="{{.}}"></option>
                {{/listOfGroups}}
                </datalist>
                <ul class="hoverMenu bg-color-white text-align-left" id="groupHoverDropDownMenu">
                </ul>
            </div>
            <div>
                <ul class="column-display" id="selectedGroups">
                    {{#groups}}
                        <li class="row-display margin-top-bottom">
                            <div class="item row-display bg-color-black color-white round-border">
                                <p>{{.}}</p>
                                <button class="itemRemove bg-color-black color-white border-less" type="button">X</button>
                            </div>
                        </li>
                    {{/groups}}
                </ul>
            </div>
        </section>
        <section class="bg-color-green shadow">
            <label for="item-price">Price :</label>
            <input type="number" name="price" id="item-price" step="0.01" class="round-border border-less margin-left-right" placeholder="Default Price (TVA include)..." min="0" value="{{price}}" required>
            <label for="promotion">Promotion</label>
            <input type="number" class="round-border border-less margin-left-right" name="promo" id="promotion" placeholder="in %" min="0" max="100" value="{{promo}}">
            <label for="final-price">Final price :</label>
            <label class="final-price bg-color-black color-white margin-left-right" id="final-price">0.0</label>
            <label>€</label>
        </section>
        <section class="bg-color-green shadow margin-left-right">
            <label for="quantity-number"> Quantity :</label>
            <input type="number" id="quantity-number" name="quantity" class="margin-left-right border-less round-border" placeholder="Quantity..." min="0" value="{{quantity}}" required>
        </section>
        <input name="categories" type="hidden" value="">
        <input name="groups" type="hidden" value="">
    </form>
    <section class="buttons margin-top-bottom margin-top-bottom">
        <button class="bg-color-red color-white border-less margin-top-bottom" type="button" form="form" id="deleteButton"> Delete </button>
        <button class="bg-color-black color-white border-less margin-top-bottom" onclick="window.open('/my_store', '_parent')"> Cancel </button>
        {{#itemExist}}
            <button class="bg-color-green border-less margin-top-bottom" type="button" id="update-item"> Update Item </button>
        {{/itemExist}}
        {{^itemExist}}
            <button class="bg-color-green border-less margin-top-bottom" type="submit" form="form"> Add Item </button>
        {{/itemExist}}
    </section>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>