<!DOCTYPE html>
<html lang="EN-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | Dashboard</title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/dashboardPage.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div id="navbar_open">≡
        </div>
        <div class="navbar bg-color-white" id="navbar_header">
                <h4 id="navbar_close">X</h4>
                {{#loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/orders_page">Orders</a></li>
                </ul>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                </ul>
                {{/loggedIn}}

            </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/dashboard">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <section class="top-section">
        <div class="restaurant-details text-align-left">
            <h2>O'Tacos</h2>
            <div class="details text-align-left" >
                <p>Sales today : <strong> 89,56 €</strong></p>
                <p>Sales this month : <strong> 389,56 €</strong></p>
                <p>Total Sales : <strong> 2344,09 €</strong></p>
                <p>Orders today : <strong> 10 €</strong></p>
                <p>Average price per order : <strong> 7,09€</strong></p>
            </div>
        </div>
        <div>
            <h1 class="text-align-right">Orders Today</h1>
        </div>
    </section>
    <table class="table-of-orders" id="table_of_orders">
        <tr class="bg-color-white header-row">
            <th>Order</th>
            <th>Date</th>
            <th>Description</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        <tr class="order bg-color-green">
            <td>#i89eh795g</td>
            <td>25 Feb 2020 11h09</td>
            <td>
                <dl>
                    <dt> Menu Etudiant : </dt>
                    <dd>- L'eau</dd>
                    <dd>- Nourriture piquant</dd>

                    <dt> Durum : </dt>
                    <dd>- Sauce fromagères</dd>
                </dl>
            </td>
            <td> 29,78 €</td>
            <td>
                {{#action}}
                <button class="doneBtn"> Done </button>
                <button class="annulerBtn">Cancel</button>
                {{/action}}
            </td>
        </tr>
        <tr class="order bg-color-orange">
            <td><p>#i89eh795g</p></td>
            <td>26 Feb 2020 10h09</td>
            <td>
                <dl>
                    <dt> Menu Etudiant :</dt>
                    <dd>- L'eau</dd>
                    <dd>- Nourriture piquant</dd>
                    <dt> Durum :</dt>
                    <dd>- Sauce fromagères</dd>
                </dl>
            </td>
            <td> 29,78 €</td>
            <td>
                <button class="bg-color-black color-white border-less">Done</button>
                <button class="bg-color-red color-white border-less">Cancel</button>
            </td>
        </tr>
    </table>
    <div class="order-view popup-plate bg-color-white full-height-section" id="order_popup">
        <button class="close border-less bg-color-black color-white">X</button>
        <h1> Order #i89eh795g</h1>
        <ul>
            <li>
                <h2>Menu Double Whooper Bacon</h2>
                <hr class="bg-color-black">
                <ul>
                    <li>Petites frites</li>
                    <li>Coca-cola</li>
                    <li>Sauce Andalouse</li>
                </ul>
            </li>
            <li>
                <h2>Chicken nuggets</h2>
                <hr class="bg-color-black">
            </li>
            <li>
                <h2>Milk Shake</h2>
                <hr class="bg-color-black">
            </li>
        </ul>
        <div class="bottom-of-container">
            <div class="total bg-color-black"><p>5</p><p>Total</p><p>34,30€</p></div>
            <div class="buttons">
                <button class="done bg-color-green"> Done </button>
                <button class="cancel bg-color-red color-white">Cancel</button>
            </div>

        </div>
    </div>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>