<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIQ | Payments page</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <header>
            <!-- This is the header with GIQ | Uclouvain -->
            <div>≡</div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            
            <ul class="seller-ul">
                <li><a href="DashboardPage.html"> Orders </a></li>
                <li><a href="StorePage.html"> Store </a></li>
                <li><a href="PaymentsPage.html"> Payments </a></li>
            </ul>
        </header>

        <section class="restoDetails">
            <h1>O'Tacos</h1>
            <ul class="details">
                <li>Sales today : <strong> 89,56 €</strong></li>
                <li>Sales this month : <strong> 389,56 €</strong></li>
                <li>Total Sales : <strong> 2344,09 €</strong></li>
                <li>Average price per order : <strong> 7,09€</strong></li> 
            </ul>
        </section>

        <table class="tableOfPayments">
            <tr>
                <th> Reference </th>
                <th> Argent obtenu entre </th>
                <th> Date prévue de versement </th>
                <th> Status</th>
                <th> Total</th>

            </tr>

            <tr>
                <td> #i89eh795g </td>
                <td> 12 Feb 2020 - 25 Feb 2020 </td>
                <td> 25 Feb 2020 11h09 </td>
                <td name = 'paid'> Fait</td>
                <td> 29,78 €</td>
            </tr>

            <tr>
                <td> #i89eh795g </td>
                <td> 12 Feb 2020 - 25 Feb 2020 </td>
                <td> 25 Feb 2020 11h09 </td>
                <td name = 'paid'> En cours</td>
                <td> 29,78 €</td>
            </tr>

            <tr>
                <td> #i89eh795g </td>
                <td> 12 Feb 2020 - 25 Feb 2020 </td>
                <td> 25 Feb 2020 11h09 </td>
                <td name = 'paid' > Fait</td>
                <td> 29,78 €</td>
            </tr>
        </table>

        <footer>

        </footer>

    </body>
</html>