<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIQ | Store page</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <header>
            <!-- This is the header with GIQ | Uclouvain -->
            <div>≡</div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            
            <ul class="seller-ul">
                <li><a href="/orders"> Orders </a></li>
                <li><a href="/my_store"> Store </a></li>
                <li><a href="/payments_list"> Payments </a></li>
            </ul>
        </header>

        <section class="restoDetails">
            <h1>O'Tacos</h1>
            <ul class="details">
                <li>Sales today : <strong> 89,56 €</strong></li>
                <li>Sales this month : <strong> 389,56 €</strong></li>
                <li>Total Sales : <strong> 2344,09 €</strong></li>
                <li>Orders today : <strong> 10 €</strong></li>
                <li>Average price per order : <strong> 7,09€</strong></li> 
            </ul>
        </section>

        <section class="addBtns">
            <button class="addgroup"> Add a new group</button>
            <button class="addCategory"> Add a new category</button>
        </section>

        <section class="nameStore">
            <h2>Store</h2>
        </section>

        <section class="newItemBtn">
            <button class="newItem"> +New Item</button>
        </section>

        <table class="tableOfStore">
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Specifications</th>
                <th>Inventory</th>

            </tr>

            <tr>
                <td> <img src="/static/images/Otacos/otacos-tacos.jpg" height="25%" width="25%"> </td>
                <td> O'Tacos L</td>
                <td> 29,78 € </td>
                <td> O'Tacos </td>
                <td> Choose your meat... </td>
                <td> 100 </td>
            </tr>
            <tr>
                <td>  </td>
                <td> O'Tacos L</td>
                <td> 29,78 € </td>
                <td> O'Tacos </td>
                <td> Choose your meat... </td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> <img src="/static/images/Otacos/otacos-tacos.jpg" height="25%" width="25%"> </td>
                <td> O'Tacos L</td>
                <td> 29,78 € </td>
                <td> O'Tacos </td>
                <td> Choose your meat... </td>
                <td> Unlimited </td>
            </tr>
        </table>

        <footer>

        </footer>

    </body>
</html>