<!DOCTYPE html>
<html lang="EN-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiQ | {{name}} Store </title>
    <!--    CSS Imports-->
    <link rel="stylesheet" href="./css/main.css">
    <!--    JavaScript Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/storePage.js"></script>
</head>
<body class="seller-page">
    <header class="bg-color-white">
        <div id="navbar_open">≡
        </div>
        <div class="navbar bg-color-white" id="navbar_header">
                <h4 id="navbar_close">X</h4>
                {{#loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/logout"><h2>Log out</h2></a></li>
                    <li>
                        <h3 class="user-name text-align-left">Hello, {{name}}</h3>
                    </li>
                    <li><a href="/orders_page">Orders</a></li>
                </ul>
                {{/loggedIn}}
                {{^loggedIn}}
                <ul>
                    <li><a class="login border-less bg-color-black" href="/user_login"><h2>Log in</h2></a></li>
                    <li><a href="/sign_up_giveNumber">Sign Up</a></li>
                </ul>
                {{/loggedIn}}

            </div>
        <div class="name-logo">
            <h2>GIQ</h2>
            <h4>|</h4>
            <h3>UCLouvain</h3>
        </div>
        <div></div>
        <div class="nav-tab">
            <a href="/dashboard">Orders</a>
            <a href="/my_store">Store</a>
            <a href="/payments_list">Payments</a>
        </div>
    </header>
    <section class="top-section">
        <div class="restaurant-details text-align-left">
            <h2>{{name}}</h2>
            <div class="details text-align-left" >
                <p>Sales today : <strong> 89,56 €</strong></p>
                <p>Sales this month : <strong> 389,56 €</strong></p>
                <p>Total Sales : <strong> 2344,09 €</strong></p>
                <p>Orders today : <strong> 10 €</strong></p>
                <p>Average price per order : <strong> 7,09€</strong></p>
            </div>
        </div>
        <div>
            <h1 class="text-align-right">Store</h1>
            <div>
                <button class="bg-color-black color-white border-less" onclick="location.href='/group'" type="button">Add a new group</button>
                <button class="bg-color-black color-white border-less" onclick="location.href='/category'" type="button">Add a new category</button>
                <button class="bg-color-black color-white border-less" onclick="location.href='/item'" type="button">Add a new Item</button>
            </div>
        </div>
    </section>
    <div class="categories-tab bg-color-white color-black shadow">
        <a href="#items-table">Items</a>
        <a href="#groups-table">Groups</a>
        <a href="#categories-table">Categories</a>
    </div>
    <h2>Items</h2>
    <table class="table-of-items table-of-orders" id="items-table">
        <tr class="bg-color-white header-row">
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Promo</th>
            <th>Description</th>
            <th>Inventory</th>
        </tr>
        {{#listOfItems}}
        {{#soldOut}}
        <tr class="out-of-stock">
        {{/soldOut}}
        {{^soldOut}}
        <tr>
        {{/soldOut}}
            <td class="image-container">
                <img src="{{imgSrc}}">
            </td>
            <td class="name">{{name}}</td>
            <td>{{price}}</td>
            {{#promo}}
                <td>{{promo}}%</td>
            {{/promo}}
            {{^promo}}
                <td>0%</td>
            {{/promo}}
            <td>{{description}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/listOfItems}}
    </table>
    <h2>Groups</h2>
    <table class="table-of-groups table-of-items table-of-orders" id="groups-table">
        <tr class="bg-color-white header-row">
            <th>Name</th>
            <th>Items</th>
            <th>Description</th>
        </tr>
        {{#listOfGroups}}
        <tr>
            <td class="name">{{name}}</td>
            <td>{{items}}</td>
            <td>{{description}}</td>
        </tr>
        {{/listOfGroups}}
    </table>
    <h2>Categories</h2>
    <table class="table-of-categories table-of-items table-of-orders" id="categories-table">
        <tr class="bg-color-white header-row">
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{#listOfCategories}}
        <tr>
            <th>{{name}}</th>
            <th>{{description}}</th>
        </tr>
        {{/listOfCategories}}
    </table>
    <footer class="full-width-section text-align-left">
        <div>
            <div class="name-logo">
                <h2>GIQ</h2>
                <h4>|</h4>
                <h3>UCLouvain</h3>
            </div>
            <div class="politique-de-conf conditions tarif">
                <a href="">Politique de confidalité</a>
                <a href="">Conditions</a>
                <a href="">Tarifs</a>
            </div>
        </div>
        <div>
            <h1>A propos de GIQ</h1>
            <a href="">Histoire</a>
            <a href="">Enregister votre commerce</a>
            <a href="">Consulter le FAQ</a>
        </div>
        <div>
            <h1>Nous Contacter</h1>
            <p>Tel : 0465 36 43 45 </p>
            <p>E-Mail : contact@giq.be</p>
        </div>
    </footer>
</body>
</html>